:javascript
  window.$fbRowTemplate = "#{ render(partial: 'collections/grants/funding_body_entry', locals: {fb_label: nil, fb_id: nil, fb_grants: nil }).squish }";
  window.$giRowTemplate = "#{ render(partial: 'collections/grants/grant_identifier_entry', locals: {grant: nil, fb_id: nil }).squish }";

.clear

.twoup-1.column.span-12
  %fieldset
    %legend Collection details
    .right
      - if params[:action] == 'bulk_edit'
        = f.select :complete, options_for_select([['True', 'true'], ['False', 'false']]), {:include_blank => true}, {:class => 'bool'}
      - else
        = f.check_box :complete
      = f.label :complete, 'Ready for metadata export'

      - if params[:action] == 'bulk_edit'
        = f.select :private, options_for_select([['True', 'true'], ['False', 'false']]), {:include_blank => true}, {:class => 'bool'}
      - else
        = f.check_box :private
      = f.label :private, 'Private: Hide metadata from all users'

    %table.form
      - unless params[:action] == 'bulk_edit'
        %tr
          %th= f.label :identifier, 'Collection ID'
          - if @collection.new_record?
            %td= f.text_field :identifier
          - else
            %td#collection_identifier= @collection.identifier

      %tr
        %th
          = f.label :title
          %br
          %i (published)
        %td= f.text_field :title, {:placeholder => "Please enter a title"}
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_title


      %tr
        %th
          = f.label :description
          %br
          %i (published)
        %td= f.text_area :description, :rows => 5
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_description

      %tr
        %th= f.label :collector_id
        %td= f.user_select :collector_id, placeholder: 'Choose a collector...', required: true, tags: true

      %tr
        %th= f.label :operator_id
        %td= f.user_select :operator_id, placeholder: 'Choose an operator...'

      %tr
        %th= f.label :university_id, 'Originating university'
        %td
          = f.collection_select :university_id, University.alpha, :id, :name, {:include_blank => true}, :data => {:placeholder => 'Choose a university...'}, :class => 'select2 university'
          = link_to 'Add University', '#', :id => 'add-university'

      %tr
        %th
          = f.label :country_ids, 'Countries'
          %br
          %small
            = link_to 'Ethnologue list', 'http://www.ethnologue.com/country_index_bibl.asp', :target => '_blank'
        %td= f.country_select :country_ids
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_country_ids

      %tr
        %th
          = f.label :language_ids, 'Languages'
          %br
          %small
            = link_to 'Ethnologue list', 'http://www.ethnologue.com/language_index.asp', :target => '_blank'
        %td
          = f.language_select :language_ids
          - if params[:action] == 'bulk_edit'
            %td.append
              %small Append
              = f.check_box :bulk_edit_append_language_ids

      %tr
        %th= f.label :region, 'Region / village'
        %td= f.text_field :region
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_region

      %tr
        %th
        %td
          %strong.left
            - if @collection.default_map_boundaries?
              %span.no-map-match-message No matching map data found
            - else
              %span.no-map-match-message
          %strong.right= link_to 'Set map from country', '#', :id => 'set-map-from-country'
          %strong.right= link_to 'Set map from language', '#', :id => 'set-map-from-language'

      %tr
        %td{:colspan => 2}
          = f.hidden_field :north_limit, :class => 'north_limit'
          = f.hidden_field :south_limit, :class => 'south_limit'
          = f.hidden_field :east_limit, :class => 'east_limit'
          = f.hidden_field :west_limit, :class => 'west_limit'
          .map{:data => {:south_limit => @collection.south_limit, :north_limit => @collection.north_limit, :west_limit => @collection.west_limit, :east_limit => @collection.east_limit, :editable => 'true'}}

  %fieldset
    %legend Access Information
    %table.form
      %tr
        %th= f.label :admin_ids, 'Edit access'
        %td= f.user_select :admin_ids, placeholder: 'Choose a user...', multiple: true
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_admin_ids

      %tr
        %th= f.label :access_condition, 'Data access conditions'
        %td= f.collection_select :access_condition_id, AccessCondition.alpha, :id, :name, {:include_blank => true}, :data => {:placeholder => 'Choose an access condition...'}, :class => 'select2'

      %tr
        %th= f.label :access_narrative, 'Data access details'
        %td= f.text_area :access_narrative, :rows => 5
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_access_narrative


.twoup-2.column.span-12.last
  - if !@collection.new_record?
    = render :partial => 'items'

  %fieldset
    %legend Depositing Information
    %table.form
      %tr
        %th= f.label :metadata_source
        %td= f.text_field :metadata_source
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_metadata_source

      %tr
        %th= f.label :orthographic_notes
        %td= f.text_area :orthographic_notes, :rows => 5
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_orthographic_notes

      %tr
        %th= f.label :media
        %td= f.text_field :media
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_media

      %tr
        %th= f.label :comments
        %td= f.text_area :comments, :rows => 5
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_comments

  %fieldset
    %legend Admin Information
    %table.form
      %tr
        %th= f.label :deposit_form_received
        %td
          - if params[:action] == 'bulk_edit'
            = f.select :deposit_form_received, options_for_select([['True', 'true'], ['False', 'false']]), {:include_blank => true}, {:class => 'bool'}
          - else
            = f.check_box :deposit_form_received

      %tr
        %th= f.label :tape_location
        %td= f.text_area :tape_location, :rows => 5
        - if params[:action] == 'bulk_edit'
          %td.append
            %small Append
            = f.check_box :bulk_edit_append_tape_location

      %tr
        %th= f.label :field_of_research_id, 'Field of research'
        %td= f.collection_select :field_of_research_id, FieldOfResearch.alpha, :id, :name_with_identifier, {:include_blank => true}, :data => {:placeholder => 'Choose a field of research...'}, :class => 'select2'

      %tr
        %th Funding Bodies
        %td
          = select_tag 'funding_body_select', options_for_select(FundingBody.alpha.collect{|f| [f.name, f.id]}),
            onchange: 'addFundingBody(event)', class: 'select2', include_blank: true, :data => {:placeholder => 'Choose a funding body...'}
          #funding-bodies-to-delete
          #funding-bodies
            - @collection.grants.group_by(&:funding_body).each do |fb, grants|
              = render partial: 'collections/grants/funding_body_entry', locals: {fb_label: fb.name, fb_id: fb.id, fb_grants: grants}
