
.left
  = f.text_field :title, {:style => "width: 800px;", :placeholder => "Please enter a title"}

.right
  = f.check_box :complete
  = f.label :complete, 'Collection completed'

  = f.check_box :private
  = f.label :private

.clear

.twoup-1
  %fieldset
    %legend Collection details
    %table.form
      %tr
        %th= f.label :identifier, 'Collection ID'
        - if @collection.new_record?
          %td= f.text_field :identifier
        - else
          %td#collection_identifier= @collection.identifier

      %tr
        %th= f.label :collector_id
        %td= f.collection_select :collector_id, User.alpha, :id, :name, :prompt => true

      %tr
        %th= f.label :operator_id
        %td= f.collection_select :operator_id, User.alpha, :id, :name, :prompt => true

      %tr
        %th= f.label :university_id, 'Originating university'
        %td
          = f.collection_select :university_id, University.alpha, :id, :name, :prompt => true
          = link_to 'Add University', '#', :id => 'add-university'

      %tr
        %th= f.label :country_id, 'Countries'
        %td
          = f.fields_for :collection_countries do |c|
            %br
            - if c.object.new_record?
              = c.collection_select :country_id, Country.alpha, :id, :name, {:prompt => true}, :class => 'addable country'
            - else
              = c.object.country.name
              = c.check_box :_destroy
              Delete

      %tr
        %th= f.label :language_id, 'Languages'
        %td
          = f.fields_for :collection_languages do |l|
            %br
            - if l.object.new_record?
              - options_for_select = Language.alpha.map { |l| "<option data-country_id=\"#{l.country_id}\" name=\"#{l.id}\">#{l.name_with_code}</option>" }.join.html_safe
              = l.select :language_id, options_for_select, {:prompt => true}, :class => 'addable language'
            - else
              = l.object.language.name
              = l.check_box :_destroy
              Delete


      %tr
        %th= f.label :region, 'Region / village'
        %td= f.text_field :region

      %tr
        %th= f.label :latitude
        %td= f.text_field :latitude, :class => 'latitude'

      %tr
        %th= f.label :longitude
        %td= f.text_field :longitude, :class => 'longitude'

      %tr
        %th= f.label :zoom
        %td= f.text_field :zoom, :class => 'zoom'

      %tr
        %td{:colspan => 2}
          .map{:data => {:latitude => @collection.latitude, :longitude => @collection.longitude, :zoom => @collection.zoom, :editable => 'true'}}

      %tr
        %th= label_tag :search
        %td= text_field_tag :map_search, '', :class => 'map_search'

      %tr
        %th
          = f.label :description
          %br
          %i (published)
        %td= f.text_area :description, :rows => 5

  %fieldset
    %legend Access Information
    %table.form
      %tr
        %th= f.label :user_id, 'Edit access'
        %td
          = f.fields_for :collection_admins do |a|
            %br
            - if a.object.new_record?
              = a.collection_select :user_id, User.alpha, :id, :name, {:prompt => true}, :class => 'addable'
            - else
              = a.object.user.name
              = a.check_box :_destroy
              Delete

      %tr
        %th= f.label :access_condition, 'Data access conditions'
        %td= f.collection_select :access_condition_id, AccessCondition.alpha, :id, :name, :prompt => true

      %tr
        %th= f.label :access_narrative, 'Data access details'
        %td= f.text_area :access_narrative, :rows => 5




.twoup-2
  - if !@collection.new_record?
    = render :partial => 'items'

  %fieldset
    %legend Depositing information
    %table.form
      %tr
        %th= f.label :metadata_source
        %td= f.text_field :metadata_source

      %tr
        %th= f.label :orthographic_notes
        %td= f.text_field :orthographic_notes

      %tr
        %th= f.label :media
        %td= f.text_field :media

      %tr
        %th= f.label :comments
        %td= f.text_field :comments

  %fieldset
    %legend Admin information
    %table.form
      %tr
        %th= f.label :deposit_form_recieved
        %td= f.check_box :deposit_form_recieved

      %tr
        %th= f.label :tape_location
        %td= f.text_field :tape_location

      %tr
        %th= f.label :field_of_research_id, 'Field of research'
        %td= f.collection_select :field_of_research_id, FieldOfResearch.alpha, :id, :name_with_identifier, :prompt => true


