.right
  = f.check_box :complete
  = f.label :complete, 'Collection completed'

  = f.check_box :private
  = f.label :private

.clear

.twoup-1
  %fieldset
    %legend Collection Details
    %table.form
      %tr
        %td= f.label :title, 'Collection Title'
        %td= f.text_field :title
        
      %tr
        %td= f.label :identifier, 'Collection ID'
        - if @collection.new_record?
          %td= f.text_field :identifier
        - else
          %td{:id => :collection_identifier}= @collection.identifier

      %tr
        %td= f.label :collector_id
        %td= f.collection_select :collector_id, User.all, :id, :name, :prompt => true

      %tr
        %td= f.label :university_id, 'Originating University'
        %td= f.collection_select :university_id, University.all, :id, :name, :prompt => true

      %tr
        %td= f.label :field_of_research_id, 'Field of Research'
        %td= f.collection_select :field_of_research_id, FieldOfResearch.all, :id, :name_with_identifier, :prompt => true

      %tr
        %td= f.label :country_id, 'Countries'
        %td
          = f.fields_for :collection_countries do |c|
            %br
            - if c.object.new_record?
              = c.collection_select :country_id, Country.all, :id, :name, :prompt => true
            - else
              = c.object.country.name
              = c.check_box :_destroy
              Delete

      %tr
        %td= f.label :language_id, 'Languages'
        %td
          = f.fields_for :collection_languages do |l|
            %br
            - if l.object.new_record?
              = l.collection_select :language_id, Language.all, :id, :name_with_code, :prompt => true
            - else
              = l.object.language.name
              = l.check_box :_destroy
              Delete


      %tr
        %td= f.label :region, 'Region / Village'
        %td= f.text_field :region

      %tr
        %td= f.label :latitude
        %td= f.text_field :latitude

      %tr
        %td= f.label :longitude
        %td= f.text_field :longitude

      %tr
        %td= f.label :zoom
        %td= f.text_field :zoom

      %tr
        %td{:colspan => 2}
          .map{:data => {:latitude => @collection.latitude, :longitude => @collection.longitude, :zoom => @collection.zoom, :editable => 'true'}, :style => "width: 100%; height: 200px;"}
          = label_tag :search
          = text_field_tag :map_search

      %tr
        %td
          = f.label :description
          %br
          %i (publishable)
        %td= f.text_area :description, :rows => 5

  %fieldset
    %legend Access Information
    %table.form
      %tr
        %td= f.label :user_id, 'User Access'
        %td
          = f.fields_for :collection_admins do |a|
            %br
            - if a.object.new_record?
              = a.collection_select :user_id, User.all, :id, :name, :prompt => true
            - else
              = a.object.user.name
              = a.check_box :_destroy
              Delete

      %tr
        %td= f.label :access_condition
        %td= f.collection_select :access_condition_id, AccessCondition.all, :id, :name, :prompt => true

      %tr
        %td= f.label :access_narrative
        %td= f.text_area :access_narrative




.twoup-2
  %fieldset
    %legend Items in Collection
    
  %fieldset
    %legend Depositing Information
    %table.form
      %tr
        %td= f.label :metadata_source
        %td= f.text_field :metadata_source

      %tr
        %td= f.label :orthographic_notes
        %td= f.text_field :orthographic_notes

      %tr
        %td= f.label :media
        %td= f.text_field :media

      %tr
        %td= f.label :comments
        %td= f.text_field :comments

  %fieldset
    %legend Admin Information
    %table.form
      %tr
        %td= f.label :deposit_form_recieved
        %td= f.check_box :deposit_form_recieved

      %tr
        %td= f.label :tape_location
        %td= f.text_field :tape_location

