
.clear

.twoup-1
  %fieldset
    %legend Collection details
    .right
      = f.check_box :complete
      = f.label :complete, 'Collection completed'

      = f.check_box :private
      = f.label :private

    %table.form
      %tr
        %th= f.label :identifier, 'Collection ID'
        - if @collection.new_record?
          %td= f.text_field :identifier
        - else
          %td#collection_identifier= @collection.identifier

      %tr
        %th
          = f.label :title
          %br
          %i (published)
        %td= f.text_field :title, {:placeholder => "Please enter a title"}

      %tr
        %th
          = f.label :description
          %br
          %i (published)
        %td= f.text_area :description, :rows => 5

      %tr
        %th= f.label :collector_id
        %td= f.collection_select :collector_id, User.alpha, :id, :name, {:include_blank => true}, :data => {:placeholder => 'Choose a collector...'}, :class => 'select2-req'

      %tr
        %th= f.label :operator_id
        %td= f.collection_select :operator_id, User.alpha, :id, :name, {:include_blank => true}, :data => {:placeholder => 'Choose an operator...'}, :class => 'select2'

      %tr
        %th= f.label :university_id, 'Originating university'
        %td
          = f.collection_select :university_id, University.alpha, :id, :name, {:include_blank => true}, :data => {:placeholder => 'Choose a university...'}, :class => 'select2'
          = link_to 'Add University', '#', :id => 'add-university'

      %tr
        %th
          - if params[:action] == 'bulk_edit'
            %small Append
            = f.check_box :bulk_edit_append_country_ids
            %br
          = f.label :country_ids, 'Countries'
        %td= f.select :country_ids, Country.alpha.map {|c| [c.name_with_code, c.id]}, {}, :multiple => true, :data => {:placeholder => 'Choose a country...'}, :class => 'select2 country'

      %tr
        %th
          - if params[:action] == 'bulk_edit'
            %small Append
            = f.check_box :bulk_edit_append_language_ids
            %br
          = f.label :language_ids, 'Languages'
        %td
          - ofs = Language.alpha.map { |l| "<option data-country_id=\"#{l.countries.map(&:id).join(',')}\" value=\"#{l.id}\" #{'selected' if @collection.language_ids.include?(l.id)}>#{l.name_with_code}</option>" }.join.html_safe
          = f.select :language_ids, ofs, {}, :multiple => true, :data => {:placeholder => 'Choose a language...'}, :class => 'select2 language'

      %tr
        %th= f.label :region, 'Region / village'
        %td= f.text_field :region

      %tr
        %th= f.label :latitude
        %td= f.text_field :latitude, :class => 'latitude'

      %tr
        %th= f.label :longitude
        %td= f.text_field :longitude, :class => 'longitude'

      %tr
        %th= f.label :zoom
        %td= f.text_field :zoom, :class => 'zoom'

      %tr
        %td{:colspan => 2}
          .map{:data => {:latitude => @collection.latitude, :longitude => @collection.longitude, :zoom => @collection.zoom, :editable => 'true'}}

      %tr
        %th= label_tag :search, 'Search location on map'
        %td= text_field_tag :map_search, '', :class => 'map_search'

  %fieldset
    %legend Access Information
    %table.form
      %tr
        %th
          - if params[:action] == 'bulk_edit'
            %small Append
            = f.check_box :bulk_edit_append_admin_ids
            %br
          = f.label :admin_ids, 'Edit access'
        %td= f.select :admin_ids, User.alpha.map {|u| [u.name, u.id]}, {:include_blank => true}, :multiple => true, :data => {:placeholder => 'Choose a user...'}, :class => 'select2'

      %tr
        %th= f.label :access_condition, 'Data access conditions'
        %td= f.collection_select :access_condition_id, AccessCondition.alpha, :id, :name, {:include_blank => true}, :data => {:placeholder => 'Choose a access condition...'}, :class => 'select2'

      %tr
        %th= f.label :access_narrative, 'Data access details'
        %td= f.text_area :access_narrative, :rows => 5




.twoup-2
  - if !@collection.new_record?
    = render :partial => 'items'

  %fieldset
    %legend Depositing information
    %table.form
      %tr
        %th= f.label :metadata_source
        %td= f.text_field :metadata_source

      %tr
        %th= f.label :orthographic_notes
        %td= f.text_field :orthographic_notes

      %tr
        %th= f.label :media
        %td= f.text_field :media

      %tr
        %th= f.label :comments
        %td= f.text_field :comments

  %fieldset
    %legend Admin information
    %table.form
      %tr
        %th= f.label :deposit_form_received
        %td= f.check_box :deposit_form_received

      %tr
        %th= f.label :tape_location
        %td= f.text_field :tape_location

      %tr
        %th= f.label :field_of_research_id, 'Field of research'
        %td= f.collection_select :field_of_research_id, FieldOfResearch.alpha, :id, :name_with_identifier, {:include_blank => true}, :data => {:placeholder => 'Choose a field of research...'}, :class => 'select2'


