
%fieldset
  %legend Items in Collection (#{@num_items})

  .right
    %p
      - if can? :create, @items.build # TODO this actually adds an item to the array is there a better way
        = link_to 'Add item', new_collection_item_path(@collection), :class => 'button'

  .left
    = paginate @items, :param_name => :items_page

  .clear

  %table.table
    %thead
      %tr
        %th Item
        %th Title
        - if can? :update, @collection
          %th Ready
          %th Files
        %th Actions
    %tbody
      - if @items.length == 0
        %tr
          %td no items available
          %td
          - if can? :update, @collection
            %td
            %td
          %td
      - else
        - @items.order(:identifier).each do |item|
          - if can? :read, item
            %tr
              %td= item.identifier
              %td= item.title
              - if can? :update, @collection
                %td= item.metadata_exportable
                %td= item.essences.length
              %td
                = link_to 'View', [item.collection, item]
                = link_to 'Edit', edit_collection_item_path(item.collection, item) if can? :update, item

  = paginate @items, :param_name => :items_page

  %p
    %button.per_page{:data => {:per => 10, :param_name => :items_per_page}} Show 10
    %button.per_page{:data => {:per => 50, :param_name => :items_per_page}} Show 50
    %button.per_page{:data => {:per => @num_items, :param_name => :items_per_page}} Show all
