
= paginate @search.hits

%table.table
  %tr
    = sortable :identifier, 'ID'
    = sortable :title
    = sortable :collector_sortname, 'Collector'
    = sortable :sort_country, 'Countries'
    = sortable :sort_language, 'Languages'
    = sortable :created_at, 'Creation Date'
    = sortable :university_name, 'Source university'
    %th Actions

    - @search.each_hit_with_result do |hit, collection|
      %tr
        %td= collection.identifier
        %td= collection.title
        %td= collection.collector.name
        %td
          - collection.countries.sort_by(&:name).each do |country|
            = country.name
        %td
          - collection.languages.sort_by(&:name).each do |language|
            = language.name
        %td= collection.created_at.to_date
        %td= collection.university_name

        %td
          = link_to 'View', collection if can? :read, collection
          = link_to 'Edit', edit_collection_path(collection) if can? :update, collection

-if @search.results.empty?
  %p.bold There were NO results for your search.

= paginate @search.hits

%p
  - ['10', '50', '100', "all #{@search.total}"].each do |n|
    = link_to "Show #{n}", @params.merge(per_page: n.sub('all ', ''), page: n.start_with?('all') ? 1 : @params[:page]), class: 'button'
