%h1 Advanced Search Collections

.right
  = link_to 'Basic Search', search_collections_path
.clear


- if params.to_unsafe_h.size > 2
  %p== #{@search.total} search results

  = render 'collections/search_results'

  -if can? :bulk_edit, Collection
    .right
      = link_to 'Bulk edit results', bulk_update_collections_path(@params)

  .clear


= form_tag advanced_search_collections_path, :method => :get, :class => 'no-empty-submit' do

  - if params[:per_page]
    = hidden_field_tag :per_page, params[:per_page]

  .twoup-1.column.span-12
    %fieldset
      %legend Collection details

      .right
        = select_tag :complete, options_for_select([['True', 'true'], ['False', 'false']], params[:complete]), :include_blank => true
        = label_tag :complete, 'Ready for metadata export'

        = select_tag :private, options_for_select([['True', 'true'], ['False', 'false']], params[:private]), :include_blank => true
        = label_tag :private, 'Private: Hide metadata from all users'
      .clear

      %table.form
        %tr
          %th= label_tag :identifier, 'Collection ID'
          %td= text_field_tag :identifier, params[:identifier]

        %tr
          %th
            = label_tag :title
            %br
            %i (published)
          %td
            = text_field_tag :title, params[:title], {:placeholder => 'Please enter a title'}
            %br
            Blank
            = check_box_tag :title_blank, 1, params[:title_blank]

        %tr
          %th
            = label_tag :description
            %br
            %i (published)
          %td
            = text_field_tag :description, params[:description]
            %br
            Blank
            = check_box_tag :description_blank, 1, params[:description_blank]

        %tr
          %th= label_tag :collector_id
          %td= hidden_field_tag :collector_id, params[:collector_id], :data => {:placeholder => 'Choose a collector...', :url => users_path}, :class => 'select2'

        %tr
          %th= label_tag :operator_id
          %td= hidden_field_tag :operator_id, params[:operator_id], :data => {:placeholder => 'Choose an operator...', :url => users_path}, :class => 'select2'

        %tr
          %th= label_tag :university_id, 'Originating university'
          %td= select_tag :university_id, options_from_collection_for_select(University.alpha, :id, :name, params[:university_id]), :include_blank => true, :data => {:placeholder => 'Choose a university...'}, :class => 'select2'

        %tr
          %th
            = label_tag :country_ids, 'Countries'
          %td= hidden_field_tag :country_ids, params[:country_ids], :data => {:placeholder => 'Choose a country...', :url => countries_path, :multiple => true}, :class => 'select2 country'

        %tr
          %th
            = label_tag :language_ids, 'Languages'
          %td= hidden_field_tag :language_ids, params[:language_ids], :data => {:placeholder => 'Choose a language...', :url => languages_path, :'extra-name' => 'country_ids', :'extra-selector' => '#item_country_ids', :multiple => true}, :class => 'select2 language'

        %tr
          %th= label_tag :region, 'Region / village'
          %td
            = text_field_tag :region, params[:region]
            %br
            Blank
            = check_box_tag :region_blank, 1, params[:region_blank]

    %fieldset
      %legend Access Information
      %table.form
        %tr
          %th
            = label_tag :admin_ids, 'Edit access'
          %td= hidden_field_tag :admin_ids, params[:admin_ids], :data => {:placeholder => 'Choose an admin...', :url => users_path, :'extra-name' => 'user_ids', :'extra-selector' => '#admin_ids', :multiple => true}, :class => 'select2'

        %tr
          %th= label_tag :access_condition, 'Data access conditions'
          %td= select_tag :access_condition_id, options_from_collection_for_select(AccessCondition.alpha, :id, :name, params[:access_condition_id]), :include_blank => true, :data => {:placeholder => 'Choose a access condition...'}, :class => 'select2'

        %tr
          %th= label_tag :access_narrative, 'Data access details'
          %td
            = text_area_tag :access_narrative, params[:access_narrative], :rows => 5
            %br
            Blank
            = check_box_tag :access_narrative_blank, 1, params[:access_narrative_blank]


  .twoup-2.column.span-12.last
    %fieldset
      %legend Map Search
      %table.form
        %tr
          %td{:colspan => 2}
            = hidden_field_tag :north_limit, params[:north_limit], :class => 'north_limit'
            = hidden_field_tag :south_limit, params[:south_limit], :class => 'south_limit'
            = hidden_field_tag :east_limit,  params[:east_limit],  :class => 'east_limit'
            = hidden_field_tag :west_limit,  params[:west_limit],  :class => 'west_limit'
            .map{:data => {:editable => 'true'}}

    %fieldset
      %legend Depositing Information
      %table.form
        %tr
          %th= label_tag :metadata_source
          %td
            = text_field_tag :metadata_source, params[:metadata_source]
            %br
            Blank
            = check_box_tag :metadata_source_blank, 1, params[:metadata_source_blank]

        %tr
          %th= label_tag :orthographic_notes
          %td
            = text_field_tag :orthographic_notes, params[:orthographic_notes]
            %br
            Blank
            = check_box_tag :orthographic_notes_blank, 1, params[:orthographic_notes_blank]

        %tr
          %th= label_tag :media
          %td
            = text_field_tag :media, params[:media]
            %br
            Blank
            = check_box_tag :media_blank, 1, params[:media_blank]

        %tr
          %th Date created:
          %td
            = text_field_tag :created_at, params[:created_at], :class => 'dateinput short', :value => params[:created_at]
            %br
            Blank
            = check_box_tag :created_at_blank, 1, params[:created_at_blank]

        %tr
          %th Date modified:
          %td
            = text_field_tag :updated_at, params[:updated_at], :class => 'dateinput short', :value => params[:updated_at]
            %br
            Blank
            = check_box_tag :updated_at_blank, 1, params[:updated_at_blank]

        %tr
          %th= label_tag :comments
          %td
            = text_field_tag :comments, params[:comments]
            %br
            Blank
            = check_box_tag :comments_blank, 1, params[:comments_blank]

    %fieldset
      %legend Admin Information
      %table.form
        %tr
          %th= label_tag :deposit_form_received
          %td= select_tag :deposit_form_received, options_for_select([['True', 'true'], ['False', 'false']], params[:deposit_form_received]), :include_blank => true

        %tr
          %th Location data stored:
          %td
            = text_field_tag :tape_location, params[:tape_location]
            %br
            Blank
            = check_box_tag :tape_location_blank, 1, params[:tape_location_blank]

        %tr
          %th= label_tag :field_of_research_id, 'Field of research'
          %td= select_tag :field_of_research_id, options_from_collection_for_select(FieldOfResearch.alpha, :id, :name, params[:field_of_research_id]), :include_blank => true, :data => {:placeholder => 'Choose a field of research...'}, :class => 'select2'

        %tr
          %th= label_tag :funding_body_id, 'Funding body'
          %td= select_tag :funding_body_id, options_from_collection_for_select(FundingBody.alpha, :id, :name, params[:funding_body_id]), :include_blank => true, :data => {:placeholder => 'Choose a funding body...'}, :class => 'select2'

        %tr
          %th Grant identifier:
          %td
            = text_field_tag :grant_identifier, params[:grant_identifier]
            %br
            Blank
            = check_box_tag :grant_identifier_blank, 1, params[:grant_identifier_blank]

    = submit_tag 'Search', :name => nil
    = link_to 'Clear', advanced_search_collections_path, class: "button"

  .clear

  %p
    = link_to 'Export CSV (visible results)', advanced_search_collections_path(:format => :csv, :params => params.permit!) if can? :search_csv, Collection
  %p
    = link_to 'Export CSV (all results)', advanced_search_collections_path(:format => :csv, :params => params.permit!.merge(:per_page => @search.total, :page => 1)) if can? :search_csv, Collection
