%h1 Advanced Search Collections

.right
  = link_to 'Basic Search', collections_path
.clear


- if params.length > 2
  %p== #{@search.total} search results

  = render 'search_results'

  .right
    = link_to 'Bulk edit results', bulk_update_collections_path(params.delete_if {|p| ['action', 'controller'].include? p } )

  .clear


= form_tag advanced_search_collections_path, :method => :get, :class => 'no-empty-submit' do

  - if params[:per_page]
    = hidden_field_tag :per_page, params[:per_page]

  .twoup-1
    %fieldset
      %legend Collection details

      .right
        = select_tag :complete, options_for_select([['True', 'true'], ['False', 'false']]), :include_blank => true
        = label_tag :complete, 'Collection completed'

        = select_tag :private, options_for_select([['True', 'true'], ['False', 'false']]), :include_blank => true
        = label_tag :private
      .clear

      %table.form
        %tr
          %th= label_tag :identifier, 'Collection ID'
          %td= text_field_tag :identifier, params[:identifier]

        %tr
          %th
            = label_tag :title
            %br
            %i (published)
          %td
            = text_field_tag :title, params[:title], {:placeholder => 'Please enter a title'}
            %br
            Blank
            = check_box_tag :title_blank, 1, params[:title_blank]

        %tr
          %th
            = label_tag :description
            %br
            %i (published)
          %td
            = text_field_tag :description, params[:description]
            %br
            Blank
            = check_box_tag :description_blank, 1, params[:description_blank]

        %tr
          %th= label_tag :collector_id
          %td= hidden_field_tag :collector_id, params[:collector_id], :data => {:placeholder => 'Choose a collector...', :url => users_path}, :class => 'select2'

        %tr
          %th= label_tag :operator_id
          %td= hidden_field_tag :operator_id, params[:operator_id], :data => {:placeholder => 'Choose an operator...', :url => users_path}, :class => 'select2'

        %tr
          %th= label_tag :university_id, 'Originating university'
          %td= collection_select :university_id, params[:university_id], University.alpha, :id, :name, {:include_blank => true}, :data => {:placeholder => 'Choose a university...'}, :class => 'select2'

        %tr
          %th
            = label_tag :country_ids, 'Countries'
          %td= hidden_field_tag :country_ids, params[:country_ids], :data => {:placeholder => 'Choose a country...', :url => countries_path, :multiple => true}, :class => 'select2 country'

        %tr
          %th
            = label_tag :language_ids, 'Languages'
          %td= hidden_field_tag :language_ids, params[:language_ids], :data => {:placeholder => 'Choose a language...', :url => languages_path, :'extra-name' => 'country_ids', :'extra-selector' => '#item_country_ids', :multiple => true}, :class => 'select2 language'

        %tr
          %th= label_tag :region, 'Region / village'
          %td
            = text_field_tag :region, params[:region]
            %br
            Blank
            = check_box_tag :region_blank, 1, params[:region_blank]

    %fieldset
      %legend Access Information
      %table.form
        %tr
          %th
            = label_tag :admin_ids, 'Edit access'
          %td= hidden_field_tag :admin_ids, params[:admin_ids], :data => {:placeholder => 'Choose an admin...', :url => users_path, :'extra-name' => 'user_ids', :'extra-selector' => '#admin_ids', :multiple => true}, :class => 'select2'

        %tr
          %th= label_tag :access_condition, 'Data access conditions'
          %td= collection_select :access_condition_id, params[:access_condition_id], AccessCondition.alpha, :id, :name, {:include_blank => true}, :data => {:placeholder => 'Choose an access condition...'}, :class => 'select2'

        %tr
          %th= label_tag :access_narrative, 'Data access details'
          %td
            = text_area_tag :access_narrative, params[:access_narrative], :rows => 5
            %br
            Blank
            = check_box_tag :access_narrative_blank, 1, params[:access_narrative_blank]


  .twoup-2
    %fieldset
      %legend Depositing Information
      %table.form
        %tr
          %th= label_tag :metadata_source
          %td
            = text_field_tag :metadata_source, params[:metadata_source]
            %br
            Blank
            = check_box_tag :metadata_source_blank, 1, params[:metadata_source_blank]

        %tr
          %th= label_tag :orthographic_notes
          %td
            = text_field_tag :orthographic_notes, params[:orthographic_notes]
            %br
            Blank
            = check_box_tag :orthographic_notes_blank, 1, params[:orthographic_notes_blank]

        %tr
          %th= label_tag :media
          %td
            = text_field_tag :media, params[:media]
            %br
            Blank
            = check_box_tag :media_blank, 1, params[:media_blank]

        %tr
          %th Date created:
          %td
            = text_field_tag :created_at, params[:created_at], :class => 'dateinput short', :value => params[:created_at]
            %br
            Blank
            = check_box_tag :created_at_blank, 1, params[:created_at_blank]

        %tr
          %th Date modified:
          %td
            = text_field_tag :updated_at, params[:updated_at], :class => 'dateinput short', :value => params[:updated_at]
            %br
            Blank
            = check_box_tag :updated_at_blank, 1, params[:updated_at_blank]

        %tr
          %th= label_tag :comments
          %td
            = text_field_tag :comments, params[:comments]
            %br
            Blank
            = check_box_tag :comments_blank, 1, params[:comments_blank]

    %fieldset
      %legend Admin Information
      %table.form
        %tr
          %th= label_tag :deposit_form_received
          %td= select_tag :deposit_form_received, options_for_select([['True', 'true'], ['False', 'false']]), :include_blank => true

        %tr
          %th Location tapes stored:
          %td
            = text_field_tag :tape_location, params[:tape_location]
            %br
            Blank
            = check_box_tag :tape_location_blank, 1, params[:tape_location_blank]

        %tr
          %th= label_tag :field_of_research_id, 'Field of research'
          %td= collection_select :field_of_research_id, params[:field_of_research_id], FieldOfResearch.alpha, :id, :name_with_identifier, {:include_blank => true}, :data => {:placeholder => 'Choose a field of research...'}, :class => 'select2'

        %tr
          %th= label_tag :funding_body_id, 'Funding body'
          %td= collection_select :funding_body_id, params[:field_of_research_id], FundingBody.alpha, :id, :name_with_identifier, {:include_blank => true}, :data => {:placeholder => 'Choose a funding body...'}, :class => 'select2'

        %tr
          %th Grant identifier:
          %td
            = text_field_tag :grant_identifier, params[:grant_identifier]
            %br
            Blank
            = check_box_tag :grant_identifier_blank, 1, params[:grant_identifier_blank]

    = submit_tag 'Search', :name => nil
    = submit_tag 'Clear', :name => :clear

  .clear

