
= form_for @collection, :method => :patch do |f|
  - if @collection.errors.any?
    #error_explanation
      %h2== #{pluralize(@collection.errors.count, 'error')} prohibited this post from being saved:
      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg

  .right
    = f.submit 'Save Collection'

  = render :partial => 'form', :locals => {:f => f}

  .right
    = link_to 'Cancel', collection_path, :class => 'button'
    = f.submit 'Save Collection'
