%h1 Collections


.page-box
  = form_tag collections_path, :method => :get, :class => 'no-empty-submit' do |f|
    .left
      - if params[:per_page]
        = hidden_field_tag :per_page, params[:per_page]
      = text_field_tag :search, params[:search], {:placeholder => "Please enter search terms to filter collections"}
      = submit_tag 'Search', :name => nil
      = submit_tag 'Clear', :name => :clear

    .right
      = link_to 'Advanced Search', advanced_search_collections_path

    .clear

    %p== #{@search.total} search results

  #facets
    %table
      %tr
        %td
          %fieldset
            %legend Language
            .fix-scroll-height
              %table
                - @search.facet(:language_ids).rows.each do |row|
                  - language, count = row.instance, row.count
                  - params_with_facet = params.merge(:language_id => language.id)
                  %tr
                    %td
                      = link_to language.name, params_with_facet
                      == (#{row.count})
        %td
          %fieldset
            %legend University
            .fix-scroll-height
              %table
                - @search.facet(:university_id).rows.each do |row|
                  - university, count = row.instance, row.count
                  - params_with_facet = params.merge(:university_id => university.id)
                  %tr
                    %td
                      = link_to university.name, params_with_facet
                      == (#{count})
        %td
          %fieldset
            %legend Country
            .fix-scroll-height
              %table
                - @search.facet(:country_ids).rows.each do |row|
                  - country, count = row.instance, row.count
                  - params_with_facet = params.merge(:country_id => country.id)
                  %tr
                    %td
                      = link_to country.name, params_with_facet
                      == (#{row.count})



  = render 'search_results'

