%h1 Add a Collection


.page-box
  = form_for @collection do |f|
    - if @collection.errors.any?
      #error_explanation
        %h2== #{pluralize(@collection.errors.count, 'error')} prohibited this post from being saved:
        %ul
          - @collection.errors.full_messages.each do |msg|
            %li= msg

    %p.collection
      = f.label :title, 'Collection Title'
      = f.text_field :title


    .twoup-1
      %fieldset
        %h2 Collection Details
        %table
          %tr
            %td= f.label :identifier, 'Collection ID'
            %td= f.text_field :identifier

          %tr
            %td= f.label :collector_id
            %td= f.collection_select :collector_id, User.all, :id, :name, :prompt => true

          %tr
            %td= f.label :university_id, 'Originating University'
            %td= f.collection_select :university_id, University.all, :id, :name, :prompt => true

          %tr
            %td= f.label :field_of_research_id, 'Field of Research'
            %td= f.collection_select :field_of_research_id, FieldOfResearch.all, :id, :name_with_identifier, :prompt => true

          = f.fields_for :collection_countries do |c|
            %tr
              %td= c.label :country_id, 'Countries'
              %td= c.collection_select :country_id, Country.all, :id, :name, :prompt => true

          = f.fields_for :collection_languages do |l|
            %tr
              %td= l.label:language_id, 'Languages'
              %td= l.collection_select :language_id, Language.all, :id, :name_with_code, :prompt => true

          %tr
            %td= f.label :region, 'Region / Village'
            %td= f.text_field :region

          %tr
            %td= f.label :latitude
            %td= f.text_field :latitude

          %tr
            %td= f.label :longitude
            %td= f.text_field :longitude

          %tr
            %td= f.label :zoom
            %td= f.text_field :zoom

          %tr
            %td
              = f.label :description
              %br
              %i (publishable)
            %td= f.text_area :description, :rows => 5

      %fieldset
        %h2 Access Information
        %table
          %tr
            %td= f.label :users, 'User Access'
            /%td= f.text_field :identifier

    .twoup-2
      %fieldset
        %h2 Items in Collection
        %table
          %tr
            %td= f.label :users, 'User Access'
            /%td= f.text_field :identifier


      %fieldset
        %h2 Depositing Information
        %table
          %tr
            %td= f.label :users, 'User Access'
            /%td= f.text_field :identifier

      %fieldset
        %h2 Admin Information
        %table
          %tr
            %td= f.label :users, 'User Access'
            /%td= f.text_field :identifier



    = f.submit 'Add Collection'
