%h1 Collection


.page-box

  %p.collection
    Title
    = @collection.title

  = check_box_tag :checked, @collection.complete, @collection.complete, :disabled => true
  Collection complete

  = check_box_tag :private, @collection.private, @collection.private, :disabled => true
  Private

  .twoup-1
    %fieldset
      %h2 Collection Details
      %table
        %tr
          %td Collection ID
          %td= @collection.identifier

        %tr
          %td Collector
          %td= @collection.collector.name

        %tr
          %td Originating University
          %td= @collection.university.name

        %tr
          %td Field of Research
          %td= @collection.field_of_research.name_with_identifier

        %tr
          %td Countries
          %td
            - @collection.countries.each do |country|
              = country.name
              %br

        %tr
          %td Languages
          %td
            - @collection.languages.each do |language|
              = language.name
              %br

        %tr
          %td Region / Village
          %td= @collection.region

        %tr
          %td Latitude
          %td= @collection.latitude

        %tr
          %td Longitude
          %td= @collection.longitude

        %tr
          %td Zoom
          %td= @collection.zoom

        %tr
          %td{:colspan => 2}
            .map{:data => {:latitude => @collection.latitude, :longitude => @collection.longitude, :zoom => @collection.zoom, :static => true}, :style => "width: 100%; height: 200px"}


        %tr
          %td Description
          %td= @collection.description

    %fieldset
      %h2 Access Information
      %table
        %tr
          %td User Access
          %td
            - @collection.admins.each do |admin|
              = admin.name
              %br

        %tr
          %td Access conditions
          %td= @collection.access_condition

        %tr
          %td Access Narative
          %td= @collection.access_narrative



  .twoup-2
    %fieldset
      %h2 Items in Collection
      = link_to 'Add Item', new_collection_item_path(@collection)
      %table
        %tr
          %th Item
          %th Title
          %th Ready
          %th Archived
          %th Actions
        - @collection.items.each do |item|
          %tr
            %td= item.identifier
            %td= item.title
            %td TBI
            %td TBI
            %td
              = link_to 'View', item
              = link_to 'Edit', edit_item_path(item)



    %fieldset
      %h2 Depositing Information
      %table
        %tr
          %td Metadata Source
          %td= @collection.metadata_source

        %tr
          %td Orthographic Notes
          %td= @collection.orthographic_notes

        %tr
          %td media
          %td= @collection.media

        %tr
          %td Date created
          %td= @collection.created_at

        %tr
          %td Date modified
          %td= @collection.updated_at

        %tr
          %td Comments
          %td= @collection.comments

    %fieldset
      %h2 Admin Information
      %table

        %tr
          %td
          %td
            = check_box_tag :deposit_form_recieved, @collection.deposit_form_recieved, @collection.deposit_form_recieved, :disabled => true
            Collection complete

        %tr
          %td Location tapes stored
          %td= @collection.tape_location

  = link_to 'Edit Collection', edit_collection_path(@collection)
