
.right
  - if can? :manage, @collection
    = link_to 'Edit collection', edit_collection_path(@collection), :class => 'button'

.clear

.twoup-1
  %fieldset
    %legend Collection details
    - if can? :manage, @collection
      .right
        = check_box_tag :checked, @collection.complete, @collection.complete, :disabled => true
        Ready for metadata export
        = check_box_tag :private, @collection.private, @collection.private, :disabled => true
        Private

    %table.form.show

      %tr
        %th Collection ID
        %td= @collection.identifier

      %tr
        %th Title
        %td= @collection.title

      %tr
        %th Description
        %td= h(@collection.description).gsub(/\n/, '<br/>').html_safe

      %tr
        %th Archive link
        %td= link_to(repository_collection_url(@collection))

      %tr
        %th Collector
        %td= @collection.collector_name

      %tr
        %th Operator
        %td= @collection.operator_name

      %tr
        %th Originating university
        %td= @collection.university_name

      %tr
        %th Countries
        %td
          - @collection.countries.each do |country|
            #{country.name_with_code}
            %br

      %tr
        %th Languages
        %td
          - @collection.languages.each do |language|
            #{language.name_with_code}
            %br

      %tr
        %th Region / village
        %td= @collection.region

      %tr
        - if !@collection.has_coordinates
          %th Map
          %td.missing No map data given - please add.
        - else
          %td.empty{:colspan => 2}
            .map{:data => {:south_limit => @collection.south_limit, :north_limit => @collection.north_limit, :west_limit => @collection.west_limit, :east_limit => @collection.east_limit}}


  - if can? :manage, @collection
    %fieldset
      %legend Access information
      %table.form.show
        %tr
          %th Edit access
          %td
            - @collection.admins.each do |admin|
              = admin.name
              %br

        %tr
          %th Data access conditions
          %td= @collection.access_condition_name

        %tr
          %th Data access details
          %td= h(@collection.access_narrative).gsub(/\n/, '<br/>').html_safe



.twoup-2

  = render :partial => 'items'

  - if can? :manage, @collection
    %fieldset
      %legend Depositing information
      %table.form.show
        %tr
          %th Metadata source
          %td= @collection.metadata_source

        %tr
          %th Orthographic notes
          %td= h(@collection.orthographic_notes).gsub(/\n/, '<br/>').html_safe

        %tr
          %th Media
          %td= @collection.media

        %tr
          %th Date created
          %td= @collection.created_at

        %tr
          %th Date modified
          %td= @collection.updated_at

        %tr
          %th Comments
          %td= h(@collection.comments).gsub(/\n/, '<br/>').html_safe

    %fieldset
      %legend Admin information
      %table.form.show

        %tr
          %td.empty
          %td
            = check_box_tag :deposit_form_received, @collection.deposit_form_received, @collection.deposit_form_received, :disabled => true
            Deposit form received

        %tr
          %th Location tapes stored
          %td= h(@collection.tape_location).gsub(/\n/, '<br/>').html_safe

        %tr
          %th Field of research
          %td
            -if @collection.field_of_research
              = @collection.field_of_research.name_with_identifier

        %tr
          %th Funding body
          %td
            -if @collection.funding_body
              = @collection.funding_body.name

        %tr
          %th Grant identifier
          %td= h(@collection.full_grant_identifier).gsub(/\n/, '<br/>').html_safe
        %tr
          %th #Items in collections
          %td= number_to_human @num_items
        %tr
          %th #Items ready for XML export
          %td= number_to_human @num_items_ready
        %tr
          %th #Essence objects in items of collection
          %td= number_to_human @num_essences


    .right
      = link_to 'Edit collection', edit_collection_path(@collection), :class => 'button'
