.left
  %h1= @collection.title

.right
  = check_box_tag :checked, @collection.complete, @collection.complete, :disabled => true
  Collection complete

  = check_box_tag :private, @collection.private, @collection.private, :disabled => true
  Private
  
.clear

.twoup-1
  %fieldset
    %legend Collection details
    %table.form.show
      %tr
        %th Collection ID
        %td= @collection.identifier

      %tr
        %th Collector
        %td= @collection.collector_name

      %tr
        %th Operator
        - if @collection.operator
          %td= @collection.operator_name

      %tr
        %th Originating university
        %td= @collection.university_name

      %tr
        %th Countries
        %td
          - @collection.countries.each do |country|
            #{country.name_with_code}
            %br

      %tr
        %th Languages
        %td
          - @collection.languages.each do |language|
            #{language.name_with_code}
            %br

      %tr
        %th Region / village
        %td= @collection.region

      %tr
        %th Latitude
        %td= @collection.latitude

      %tr
        %th Longitude
        %td= @collection.longitude

      %tr
        %th Zoom
        %td= @collection.zoom

      %tr
        %td.empty{:colspan => 2}
          .map{:data => {:latitude => @collection.latitude, :longitude => @collection.longitude, :zoom => @collection.zoom, :static => true}}


      %tr
        %th Description
        %td= @collection.description

  - if can? :manage, Collection
    %fieldset
      %legend Access information
      %table.form.show
        %tr
          %th Edit access
          %td
            - @collection.admins.each do |admin|
              = admin.name
              %br

        %tr
          %th Data access conditions
          %td= @collection.access_condition_name

        %tr
          %th Data access details
          %td= @collection.access_narrative



.twoup-2
  = render :partial => 'items'

  - if can? :manage, Collection
    %fieldset
      %legend Depositing information
      %table.form.show
        %tr
          %th Metadata source
          %td= @collection.metadata_source

        %tr
          %th Orthographic notes
          %td= @collection.orthographic_notes

        %tr
          %th Media
          %td= @collection.media

        %tr
          %th Date created
          %td= @collection.created_at

        %tr
          %th Date modified
          %td= @collection.updated_at

        %tr
          %th Comments
          %td= @collection.comments

    %fieldset
      %legend Admin information
      %table.form.show

        %tr
          %td.empty
          %td
            = check_box_tag :deposit_form_recieved, @collection.deposit_form_recieved, @collection.deposit_form_recieved, :disabled => true
            Deposit form received

        %tr
          %th Location tapes stored
          %td= @collection.tape_location

        %tr
          %th Field of research
          %td= @collection.field_of_research.name_with_identifier
          
        %tr
          %th #Items in collections
          %td= number_to_human @num_items
        %tr
          %th #Items ready for XML export
          %td= number_to_human @num_items_ready
        %tr
          %th #Essence objects in items of collection
          %td= number_to_human @num_essences
        

    %button
      = link_to 'Edit collection', edit_collection_path(@collection)
