-if can? :manage, @collection
  %xml{:version => "1.0", :encoding => "UTF-8"}
    %collection
      %identifier= @collection.identifier
      %complete= @collection.complete
      %private= @collection.private
      %title= @collection.title
      %description= @collection.description
      %collector= @collection.collector_name
      %operator= @collection.operator_name
      %university= @collection.university_name
      %countries
        - @collection.countries.each do |country|
          %country= country.name_with_code
      %languages
        - @collection.languages.each do |language|
          %language= language.name_with_code
      %region= @collection.region
      %geographicLocation
        %latitude= @collection.latitude
        %longitude= @collection.longitude
        %zoom= @collection.zoom
      %accessInfo
        %adminAccess
          - @collection.admins.each do |admin|
            %userName= admin.name
        %dataAccessConditions= @collection.access_condition_name
        %dataAccessNarrative= @collection.access_narrative
      %depositInfo
        %metadataSource= @collection.metadata_source
        %orthographicNotes= @collection.orthographic_notes
        %media= @collection.media
        %recordCreated= @collection.created_at
        %recordLastModified= @collection.updated_at
        %adminComment= @collection.comments
      %adminInfo
        %depositFormReceived= @collection.deposit_form_received
        %tapeLocation= @collection.tape_location
        %fieldOfResearch= @collection.field_of_research.name_with_identifier
      %items{:numItems => @num_items, :readyForExport => @num_items_ready}
        - @collection.items.each do |item|
          %item{:numComments => item.comments.length, :numFiles => item.essences.length}
            %identifier= item.full_identifier
            %private= item.private
            %title= item.title
            %description= item.description
            %originationDate= item.originated_on
            %originationNarrative= item.originated_on_narrative
            %xmlLink= "#{strip_tags(item_archive_url(item))}.xml"
            %url= item.url
            %collector= item.collector_name
            %countries
              - item.countries.each do |country|
                %country= country.name_with_code
            %language= item.language
            %subjectLanguages
              - item.subject_languages.each do |language|
                %language= language.name_with_code
            %contentLanguages
              - item.content_languages.each do |language|
                %language= language.name_with_code
            %dialect= item.dialect
            %region= item.region
            %geographicLocation
              %latitude= item.latitude
              %longitude= item.longitude
              %zoom= item.zoom
            %university= item.university_name
            %operator= item.operator_name
            %discourseType= item.discourse_type_name
            %agents
              - item.item_agents.each do |item_agent|
                %agent
                  %name= item_agent.user.name
                  %role= item_agent.agent_role.name
            %citation= strip_tags(item.citation)
            %files{:numFiles => item.essences.length}
              - item.essences.each do |essence|
                %file
                  %name= essence.filename
                  %mimeType= essence.mimetype
                  %fileSize= number_to_human_size essence.size
                  %duration= number_to_human_duration essence.duration
                  %bitrate= number_to_human_rate essence.bitrate
                  %sampleRate= "#{essence.samplerate} Hz" if essence.samplerate
                  %channels= number_to_human_channels essence.channels
                  %frameRate= "#{essence.fps} FPS" if essence.fps
            %archiveInfo
              %bornDigital= item.born_digital
              %tapesReturned= item.tapes_returned
              %originalMedia= item.original_media
              %dateReceived= item.received_on
              %dateDigitised= item.digitised_on
              %ingestNotes= item.ingest_notes
              %metadataImportedOn= item.metadata_imported_on
              %metadataExportedOn= item.metadata_exported_on
              %tracking= item.tracking
            %adminInfo
              %recordCreated= item.created_at
              %recordLastModified= item.updated_at
              %adminAccess
                - item.admins.each do |admin|
                  %userName= admin.name
              %dataAccessConditions= item.access_condition_name
              %dataAccessNarrative= item.access_narrative
              %adminComment= item.admin_comment
            %userComments{:numComments => item.comments.length}
              - item.comments.each do |comment|
                %comment
                  %author= comment.owner.name
                  %description= comment.body
                  %createdAt= comment.created_at

            
            
      
      