-if can? :manage, @collection
  %xml{:version => "1.0", :encoding => "UTF-8"}
    %collection
      %identifier= @collection.identifier
      %complete= @collection.complete
      %private= @collection.private
      %title= @collection.title
      %description= @collection.description
      %collector= @collection.collector_name
      %operator= @collection.operator_name
      %university= @collection.university_name
      %countries
        - @collection.countries.each do |country|
          %country= country.name_with_code
      %languages
        - @collection.languages.each do |language|
          %language= language.name_with_code
      %region= @collection.region
      %geographicLocation
        %south_limit= @collection.south_limit
        %north_limit= @collection.north_limit
        %east_limit= @collection.east_limit
        %west_limit= @collection.west_limit
      %accessInfo
        %adminAccess
          - @collection.admins.each do |admin|
            %userName= admin.name
        %dataAccessConditions= h(@collection.access_condition_name)
        %dataAccessNarrative= @collection.access_narrative
      %depositInfo
        %metadataSource= @collection.metadata_source
        %orthographicNotes= @collection.orthographic_notes
        %media= @collection.media
        %recordCreated= @collection.created_at
        %recordLastModified= @collection.updated_at
        %adminComment= h(@collection.comments)
      %adminInfo
        %depositFormReceived= h(@collection.deposit_form_received)
        %tapeLocation= h(@collection.tape_location)
        %fieldOfResearch= h(@collection.field_of_research.name_with_identifier)
        %fundingBody= h(@collection.funding_body.name) if @collection.funding_body
        %grantIdentifier= h(@collection.full_grant_identifier)
      %items{:numItems => @num_items, :readyForExport => @num_items_ready}
        - @collection.items.each do |item|
          %item{:numComments => item.comments.length, :numFiles => item.essences.length}
            %identifier= item.full_identifier
            %private= item.private
            %title= h(item.title)
            %description= h(item.description)
            %originationDate= item.originated_on
            %originationNarrative= item.originated_on_narrative
            %xmlLink= "#{strip_tags(item.full_path)}.xml"
            %url= h(item.url)
            %collector= h(item.collector_name)
            %countries
              - item.countries.each do |country|
                %country= country.name_with_code
            %language= item.language
            %subjectLanguages
              - item.subject_languages.each do |language|
                %language= language.name_with_code
            %contentLanguages
              - item.content_languages.each do |language|
                %language= language.name_with_code
            %dialect= item.dialect
            %region= item.region
            %geographicLocation
              %south_limit= item.south_limit
              %north_limit= item.north_limit
              %east_limit= item.east_limit
              %west_limit= item.west_limit
            %university= h(item.university_name)
            %operator= h(item.operator_name)
            %discourseType= h(item.discourse_type_name)
            %agents
              - item.item_agents.each do |item_agent|
                %agent{:role => h(item_agent.agent_role.name)}
                  = h(item_agent.user.name)
            %citation= CGI.escapeHTML(strip_tags(item.citation))
            %files{:numFiles => item.essences.length}
              - item.essences.each do |essence|
                %file
                  %name= essence.filename
                  %mimeType= essence.mimetype
                  %fileSize= number_to_human_size essence.size
                  %duration= number_to_human_duration essence.duration
                  %bitrate= number_to_human_rate essence.bitrate
                  %sampleRate= "#{essence.samplerate} Hz" if essence.samplerate
                  %channels= number_to_human_channels essence.channels
                  %frameRate= "#{essence.fps} FPS" if essence.fps
            %archiveInfo
              %bornDigital= item.born_digital
              %tapesReturned= h(item.tapes_returned)
              %originalMedia= h(item.original_media)
              %dateReceived= item.received_on
              %dateDigitised= item.digitised_on
              %ingestNotes= h(item.ingest_notes)
              %metadataImportedOn= item.metadata_imported_on
              %metadataExportedOn= item.metadata_exported_on
              %tracking= item.tracking
            %adminInfo
              %recordCreated= item.created_at
              %recordLastModified= item.updated_at
              %adminAccess
                - item.admins.each do |admin|
                  %userName= admin.name
              %dataAccessConditions= h(item.access_condition_name)
              %dataAccessNarrative= h(item.access_narrative)
              %adminComment= item.admin_comment
            %userComments{:numComments => item.comments.length}
              - item.comments.each do |comment|
                %comment
                  %author= h(comment.owner.name)
                  %description= h(comment.body)
                  %createdAt= comment.created_at
