%div{:id => "comment_#{comment.id}"}
  %p.comment_body
    = simple_format comment.body
    - if can? :destroy, comment
      = link_to 'Delete', comment_path(comment), :method => :delete, :remote => true, :class => 'button'
  %p.comment_who
    = 'by '
    - if can? :manage, comment.owner
      = link_to comment.owner_name, comment.owner
    - else
      = comment.owner_name
    == - #{comment.created_at.strftime("on %d/%m/%Y at %I:%M %p")}
  %hr
