%h1 User details

.page-box
  = form_for @user do |f|
    - if @user.errors.any?
      #error_explanation
        %h2== #{pluralize(@user.errors.count, 'error')} prohibited this post from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .twoup-1
      %table.form
        %tr
          %td= f.label :first_name, '* First name'
          %td= f.text_field :first_name

        %tr
          %td= f.label :last_name, '* Last name'
          %td= f.text_field :last_name

        %tr
          %td= f.label :email, '* Email'
          %td= f.text_field :email

        %tr
          %td= f.label :address
          %td= f.text_field :address

          %tr
            %td= f.label :address2, 'Address'
            %td= f.text_field :address2

        %tr
          %td= f.label :country
          %td= f.text_field :country

        %tr
          %td= f.label :phone
          %td= f.text_field :phone, :autocomplete => :off

        - if admin_user_signed_in?
          %tr
            %td
              Access level:
            %td
              = f.check_box :admin
              = f.label :admin

          %tr
            %td
              Also working as:
            %td
              = f.check_box :operator
              = f.label :operator

        %tr
          %td
          %td= f.submit 'Update'

    .twoup-2
      %table.form
        %tr
          %td= f.label :password, "New password"
          %td
            = f.password_field :password, :autocomplete => :off
            %br
            %i (leave blank if you don't want to change it)


        %tr
          %td= f.label :password_confirmation, "Repeat password"
          %td= f.password_field :password_confirmation, :autocomplete => :off

        %tr
          %td= f.label :current_password
          %td
            = f.password_field :current_password, :autocomplete => :off
            %br
            %i (we need your current password to confirm your changes)

