
= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2== #{pluralize(@user.errors.count, 'error')} prohibited this post from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .left
    %h1 User details

  .right
    = f.submit 'Save user'

  .clear{:style => "padding-top: 7px"}

  .twoup-1
    %fieldset
      %table.form
        %tr
          %th= f.label :first_name, '* First name'
          %td= f.text_field :first_name

        %tr
          %th= f.label :last_name, '* Last name'
          %td= f.text_field :last_name

        %tr
          %th= f.label :email, '* Email'
          %td= f.text_field :email

        %tr
          %th= f.label :address
          %td= f.text_field :address

        %tr
          %th= f.label :address2, 'Address'
          %td= f.text_field :address2

        %tr
          %th= f.label :country
          %td= f.text_field :country

        %tr
          %th= f.label :phone
          %td= f.text_field :phone, :autocomplete => :off

        - if admin_user_signed_in?
          %tr
            %th
              Access level:
            %td
              = f.check_box :admin
              = f.label :admin

          %tr
            %th
              Contact Only:
            %td
              = f.check_box :contact_only
              = f.label :contact_only

          %tr
            %th= f.label :rights_transferred_to_id
            %td= f.collection_select :rights_transferred_to_id, User.alpha, :id, :name, {:include_blank => true}, :data => {:placeholder => 'Choose a rightholder...'}, :class => 'select2'

          %tr
            %th= f.label :rights_transfer_reason
            %td= f.text_field :rights_transfer_reason, :autocomplete => :off

          %tr
            %th= f.label 'NLA Persistent Identifier'
            %td= f.text_field :party_identifier, :autocomplete => :off

  .twoup-2
    %fieldset
      %table.form
        %tr
          %th= f.label :password, "New password"
          %td
            = f.password_field :password, :autocomplete => :off
            %br
            %i (leave blank if you don't want to change it)


        %tr
          %th= f.label :password_confirmation, "Repeat password"
          %td= f.password_field :password_confirmation, :autocomplete => :off

        %tr
          %th= f.label :current_password
          %td
            = f.password_field :current_password, :autocomplete => :off
            %br
            %i (we need your current password to confirm your changes)

    .right
      = link_to 'Cancel', users_path, :class => 'button'
      = f.submit 'Save user'
