%h1 Users

.page-box

  = form_tag users_path, :method => :get do
    .left
      - if params[:per_page]
        = hidden_field_tag :per_page, params[:per_page]
      = text_field_tag :search, params[:search], {:placeholder => "Please enter search terms to filter users"}
      = submit_tag "Search", :name => nil
      = submit_tag "Clear", :name => :clear

    .clear

    %p== #{@users.total_count} search results

  = paginate @users

  %table.table
    %tr
      = sortable :id
      = sortable :first_name
      = sortable :last_name
      = sortable :address
      = sortable :address2
      = sortable :country
      = sortable :email
      = sortable :phone
      = sortable :contact_only
      = sortable :admin
      %th Action
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= user.address
        %td= user.address2
        %td= user.country
        %td= user.email
        %td= user.phone
        %td= user.contact_only? ? 'Yes' : 'No'
        %td= user.admin? ? 'Yes' : 'No'
        %td
          =link_to 'Edit', edit_user_path(user)
          =link_to 'Delete', user, :method => :delete, :confirm => 'Are you sure?'

  = paginate @users

  %p
    %button.per_page{:data => {:per => 10}} Show 10
    %button.per_page{:data => {:per => 50}} Show 50
    %button.per_page{:data => {:per => 100}} Show 100

  %p
    = link_to 'Export CSV', users_path(:format => :csv)
