%h1 Users

.search
  = form_tag users_path, :method => :get do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil
      = submit_tag "Clear", :name => :clear

%table
  %tr
    %th= sortable 'id'
    %th= sortable 'first_name'
    %th= sortable 'last_name'
    %th= sortable 'address'
    %th= sortable 'country'
    %th= sortable 'email'
    %th= sortable 'phone'
    %th= sortable 'admin'
    %th Action
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.first_name
      %td= user.last_name
      %td= user.address
      %td= user.country
      %td= user.email
      %td= user.phone
      %td= user.admin? ? 'Yes' : 'No'
      %td
        =link_to 'Edit', edit_user_path(user)
        =link_to 'Delete', user, :method => :delete, :confirm => 'Are you sure?'
