%h1 PARADISEC API Documentation

.page-box
  %p
    The PARADISEC catalog exposes a number of APIs for harvesting the public data of the site. PARADISEC makes use of
    = link_to 'OAI-PMH', 'http://www.openarchives.org/pmh/'
    for its harvesting APIs.
  %p
    The public data is also available through a
    = link_to 'GraphQL API', 'http://graphql.org/'
    \.

%h2 Harvesting Collections

.page-box

  %h3
    = link_to 'RIF-CS', 'http://www.ands.org.au/resource/rif-cs.html'

  %p
    A RIF-CS feed is available at
    = link_to 'http://catalog.paradisec.org.au/oai/collection', 'http://catalog.paradisec.org.au/oai/collection'

  %p
    For example, you can get a feed of all publicly available collections of PARADISEC:
    %br
    = link_to 'http://catalog.paradisec.org.au/oai/collection?verb=ListRecords&metadataPrefix=rif', 'http://catalog.paradisec.org.au/oai/collection?verb=ListRecords&metadataPrefix=rif'

  %p
    About RIF-CS:
    = link_to 'http://ands.org.au/guides/cpguide/cpgrifcs.html', 'http://ands.org.au/guides/cpguide/cpgrifcs.html'

%h2 Harvesting Items

.page-box

  %h3
    = link_to 'OLAC', 'http://www.language-archives.org/'

  %p
    A OLAC feed is available at
    = link_to 'http://catalog.paradisec.org.au/oai/item', 'http://catalog.paradisec.org.au/oai/item'

  %p
    For example, you can get a feed of all publicly available items of PARADISEC:
    %br
    = link_to 'http://catalog.paradisec.org.au/oai/item?verb=ListRecords&metadataPrefix=olac', 'http://catalog.paradisec.org.au/oai/item?verb=ListRecords&metadataPrefix=olac'

  %p
    Or you can get all the details of a single item of PARADISEC like this:
    %br
    = link_to 'http://catalog.paradisec.org.au/oai/item?verb=GetRecord&identifier=oai:paradisec.org.au:AA1-002&metadataPrefix=olac', 'http://catalog.paradisec.org.au/oai/item?verb=GetRecord&identifier=oai:paradisec.org.au:AA1-002&metadataPrefix=olac'
    %br
    Just replace the item identifier with the identifier that you are after to get its metadata.

  %p
    About OLAC:
    = link_to 'http://www.language-archives.org/documents.html#Standards', 'http://www.language-archives.org/documents.html#Standards'

%h2 GraphQL API

.page-box
  %h3
    = link_to 'GraphQL', 'http://graphql.org/'

  %p
    GraphQL is a query language that allows API consumers to customise the response based on what data is interesting to them.

  %p
    Our GraphQL API is available at:
    = link_to 'http://catalog.paradisec.org.au/graphql', 'http://catalog.paradisec.org.au/graphql'

  %p
    A very simple search for an item based on its identifier would look like this:
    %pre.codeblock
      %code
        :preserve
          {
            items(full_identifier: "ABC") {
              full_identifier
              title
            }
          }
    This query finds all items which have 'ABC' in their identifier (including collection identifier),
    and then lists the full identifier and title of results.

  %p
    You can start exploring our GraphQL API by using the in-browser GraphiQL query editor available at:
    = link_to 'http://catalog.paradisec.org.au/graphiql', 'http://catalog.paradisec.org.au/graphiql'
  %p
    The GraphiQL editor is already pre-loaded with a more complex example query.
    You can view the full definition of available attributes by clicking on 'Docs' in the GraphiQL editor.
  
  %p
    For technical consumers, our GraphQL schema definition is available at:
    = link_to 'http://catalog.paradisec.org.au/paradisec.graphql', 'http://catalog.paradisec.org.au/paradisec.graphql'
