%h1 Dashboard

#mycontent

- if can? :create, Collection
  #actions
    = button_to 'Add collection', new_collection_path, :method => :get


    #collections
      %fieldset
        %legend My Collections
        %table.table
          %tr
            %th ID
            %th Title
            %th Creation Date
            %th Actions

            - @collections.each do |collection|
              %tr
                %td= collection.identifier
                %td= collection.title
                %td= collection.created_at
                %td
                  = link_to 'View', collection if can? :read, collection
                  = link_to 'Edit', edit_collection_path(collection) if can? :update, collection



    #items
      %fieldset
        %legend My Items
        %table.table
          %tr
            %th ID
            %th Title
            %th Creation Date
            %th Actions

            - @items.each do |item|
              %tr
                %td= item.full_identifier
                %td= item.title
                %td= item.created_at
                %td
                  = link_to 'View', collection if can? :read, collection
                  = link_to 'Edit', edit_collection_path(collection) if can? :update, collection


    #comments
      %fieldset
        %legend My Comments
        %table
          %tr
            %th Item
            %th User
            %th Comment
          - @comments.each do |comment|
            %tr
              %td= link_to comment.commentable.full_identifier, comment.commentable
              %td= comment.owner.name
              %td= comment.body

