%h1 Dashboard

#mycontent

- if can? :create, Collection
  #actions
    %button
      = link_to 'Add collection', new_collection_path


- if admin_user_signed_in?

  #system
    %h2 System monitoring

    #comments
    %fieldset
      %legend Last 5 Comments

      %table
        %tr
          %th Item
          %th User
          %th Comment
        - @comments.each do |comment|
          %tr
            %td= link_to comment.commentable.full_identifier, comment.commentable
            %td= comment.owner.name
            %td= comment.body


    #metadata
    %fieldset
      %legend Items with incomplete metadata

    #activities.twoup-1
      %fieldset
        %legend Recent system activities on essence data

    #statistics.twoup-2
      %fieldset
        %legend Content statistics
        %table
          %tr
            %td= number_with_delimiter @num_collections
            %td collections
            %td= number_with_delimiter @num_comments
            %td comments posted
          %tr
            %td= number_with_delimiter @num_items
            %td items
            %td= number_with_delimiter @num_comments
            %td comments approved
          %tr
            %td= number_with_delimiter @num_essences
            %td essence objects
            %td 0
            %td comments pending
          %tr
            %td= number_with_delimiter @num_users
            %td users
            %td
            %td
          %tr
            %td= number_with_delimiter @num_universities
            %td universities
            %td
            %td
