%h1 TLC Map Tests

%h2 All Collections - Cluster
%iframe{src: "https://views.tlcmap.org/v2/cluster.html?load=#{CGI.escape collections_url(format: :geo_json)}", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 All Collections - 3D
%iframe{src: "https://views.tlcmap.org/v2/3d.html?load=#{CGI.escape collections_url(format: :geo_json)}", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 All Collections - Timeline
%iframe{src: "https://views.tlcmap.org/v2/timeline.html?load=#{CGI.escape collections_url(format: :geo_json)}", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 NT1 - Cluster
%iframe{src: "https://views.tlcmap.org/v2/cluster.html?load=#{CGI.escape collection_url('NT1', format: :geo_json)}", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 NT1 - 3D
%iframe{src: "https://views.tlcmap.org/v2/3d.html?load=#{CGI.escape collection_url('NT1', format: :geo_json)}", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }

%h2 NT1 - Timeline
%iframe{src: "https://views.tlcmap.org/v2/timeline.html?load=#{CGI.escape collection_url('NT1', format: :geo_json)}", width: 1000, height: 700, frameborder: '0', scrolling: 'no' }
