%div.grant-id{id: grant.try(:grant_identifier) || '{{grant_id}}'}
  %span= grant.try(:grant_identifier) || '{{grant_id}}'
  - if grant.try(:id).present?
    %input{type: :hidden, name: "collection[grants_attributes][#{grant.id}][id]", value: grant.id}
    %input{type: :hidden, name: "collection[grants_attributes][#{grant.id}][funding_body_id]", value: fb_id }
    %label
      %input{type: :checkbox, name: "collection[grants_attributes][#{grant.id}][_destroy]", value: '1'}
      %span Remove?
  - else
    %span (New)
    %input{type: :hidden, name: 'collection[grants_attributes][{{uuid}}][funding_body_id]', value: fb_id || '{{fb_id}}'}
    %input{type: :hidden, name: 'collection[grants_attributes][{{uuid}}][grant_identifier]', value: grant.try(:grant_identifier) || '{{grant_id}}'}
    %a.row-action.delete-grant-id.remove= "&times;".html_safe
