= f.text_field :title, {:style => "font-size: 38px; width: 100%"}

.twoup-1
  %fieldset
    %legend Item details
    %table.form
      %tr
        %th= f.label :identifier, 'Item ID'
        %td
          = @item.collection.identifier
          == -
          - if @item.new_record?
            = f.text_field :identifier, :class => 'short'
          - else
            = @item.identifier

      %tr
        %td
        %td
          = f.check_box :private
          = f.label :private

      %tr
        %th= f.label :url, 'URL'
        %td= f.text_field :url

      %tr
        %th= f.label :collector_id
        %td= f.collection_select :collector_id, User.alpha, :id, :name, :prompt => true

      %tr
        %th= f.label :university_id, 'Originating university'
        %td= f.collection_select :university_id, University.alpha, :id, :name, :prompt => true

      %tr
        %th= f.label :operator_id
        %td= f.collection_select :operator_id, User.alpha, :id, :name, :prompt => true

      %tr
        %th
          = f.label :description
          %br
          %i (publishable)
        %td= f.text_area :description, :rows => 5

      %tr
        %th= f.label :originated_on, 'Origination date'
        %td= f.text_field :originated_on, :class => 'dateinput short', :value => params[:originated_on] || @item.originated_on && @item.originated_on.strftime('%d %B %Y')

      %tr
        %th= f.label :country_id, 'Countries'
        %td
          = f.fields_for :item_countries do |c|
            - if c.object.new_record?
              = c.collection_select :country_id, Country.alpha, :id, :name, {:prompt => true}, :class => 'addable'
            - else
              = c.object.country.name
              = c.check_box :_destroy
              Delete
            %br

      %tr
        %th= f.label :language, 'Language as given'
        %td= f.text_field :language

      %tr
        %th= f.label :subject_language_id, 'Subject language'
        %td
          = f.fields_for :item_subject_languages do |c|
            - if c.object.new_record?
              = c.collection_select :language_id, Language.alpha, :id, :name, {:prompt => true}, :class => 'addable'
            - else
              = c.object.language.name
              = c.check_box :_destroy
              Delete
            %br

      %tr
        %th= f.label :content_language_id, 'Content language'
        %td
          = f.fields_for :item_content_languages do |c|
            - if c.object.new_record?
              = c.collection_select :language_id, Language.alpha, :id, :name, {:prompt => true}, :class => 'addable'
            - else
              = c.object.language.name
              = c.check_box :_destroy
              Delete
            %br

      %tr
        %th= f.label :dialect
        %td= f.text_field :dialect

      %tr
        %th= f.label :region, 'Region / village'
        %td= f.text_field :region

      %tr
        %th= f.label :latitude
        %td= f.text_field :latitude, :class => 'latitude'

      %tr
        %th= f.label :longitude
        %td= f.text_field :longitude, :class => 'longitude'

      %tr
        %th= f.label :zoom
        %td= f.text_field :zoom, :class => 'zoom'

      %tr
        %td{:colspan => 2}
          .map{:data => {:latitude => @item.latitude, :longitude => @item.longitude, :zoom => @item.zoom, :editable => 'true'}}
      
      %tr
        %th= label_tag :search
        %td= text_field_tag :map_search

      %tr
        %th= f.label :discourse_type_id
        %td= f.collection_select :discourse_type_id, DiscourseType.alpha, :id, :name, :prompt => true

      %tr
        %th= f.label :agent_id, 'Agents'
        %td
          = f.fields_for :item_agents do |c|
            - if c.object.new_record?
              = c.collection_select :user_id, User.alpha, :id, :name, :prompt => true
              = c.collection_select :agent_role_id, AgentRole.alpha, :id, :name, :prompt => true
            - else
              = c.object.user.name
              == :
              = c.object.agent_role.name
              = c.check_box :_destroy
              Delete
            %br


.twoup-2
  %fieldset
    %legend Admin information
    %table.form
      %tr
        %th= f.label :user_id, 'User access'
        %td
          = f.fields_for :item_admins do |a|
            - if a.object.new_record?
              = a.collection_select :user_id, User.alpha, :id, :name, {:prompt => true}, :class => 'addable'
            - else
              = a.object.user.name
              = a.check_box :_destroy
              Delete
            %br

      %tr
        %th= f.label :access_condition
        %td= f.collection_select :access_condition_id, AccessCondition.alpha, :id, :name, :prompt => true

      %tr
        %th= f.label :access_narrative
        %td= f.text_area :access_narrative, :rows => 5
