%h1 Items Bulk Update

.right
  = link_to 'Advanced Search', advanced_search_items_path(@params)
.clear

%p== #{@search.total} search results

= render partial: 'search_results', locals: {show_exclusions: true}

= form_for @item, :url => bulk_update_items_path, :method => :patch do |f|
  - if @item.errors.any?
    #error_explanation
      %h2== #{pluralize(@item.errors.count, 'error')} prohibited this post from being saved:
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag :item_ids, @search.results.map(&:id)
  = hidden_field_tag :original_search_params, @params.to_h.to_a.map {|p| "#{p[0]}=#{p[1]}" }.join('&')

  .right
    = f.submit "Update #{@search.hits.length} Items", :confirm => "This will update #{@search.hits.length} items - are you sure?"

  = render :partial => 'items/form', :locals => {:f => f}

  .right
    = f.submit "Update #{@search.hits.length} Items", :confirm => "This will update #{@search.hits.length} items - are you sure?"

