%h1 Edit an Item


= form_for [@collection, @item], :method => :put do |f|
  - if @item.errors.any?
    #error_explanation
      %h2== #{pluralize(@item.errors.count, 'error')} prohibited this post from being saved:
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  = render :partial => 'form', :locals => {:f => f}

  = f.submit 'Update Item'
