%h1 Items


.page-box
  = form_tag items_path, :method => :get do |f|
    = text_field_tag :search, params[:search]
    = submit_tag 'Filter', :name => nil
    = submit_tag 'Clear', :name => :clear

  %table.table
    %tr
      = sortable :id, 'ID'
      = sortable :title
      %th Collector
      %th Language as Given
      %th Countries
      = sortable :modification_date
      %th Actions

      - @items.each do |item|
        %tr
          %td= item.full_identifier
          %td= item.title
          %td= item.collector.name
          %td= item.language
          %td
            - item.countries.each do |country|
              = country.name
          %td= item.updated_at.to_date
          %td
            = link_to 'View', item
            = link_to 'Edit', edit_item_path(item) if can? :update, item

  = paginate @items

  %button.per_page{:data => {:per => 10}} Show 10
  %button.per_page{:data => {:per => 50}} Show 50
  %button.per_page{:data => {:per => 100}} Show 100
