%h1 Items


.page-box
  = form_tag items_path, :method => :get do |f|
    %p
      - if params[:per_page]
        = hidden_field_tag :per_page, params[:per_page]
      = text_field_tag :search, params[:search]
      = submit_tag 'Filter', :name => nil
      = submit_tag 'Clear', :name => :clear

  %p== #{@search.total} search results

  = paginate @search

  #facets
    %table
      %tr
        %td
          %fieldset
            %legend Content Language
            .fix-scroll-height
              %table
                - @search.facet(:content_language_ids).rows.each do |row|
                  - language, count = row.instance, row.count
                  - params_with_facet = params.merge(:language_id => language.id)
                  %tr
                    %td
                      = link_to language.name, params_with_facet
                      == (#{row.count})
        %td
          %fieldset
            %legend University
            .fix-scroll-height
              %table
                - @search.facet(:university_id).rows.each do |row|
                  - university, count = row.instance, row.count
                  - params_with_facet = params.merge(:university_id => university.id)
                  %tr
                    %td
                      = link_to university.name, params_with_facet
                      == (#{count})
        %td
          %fieldset
            %legend Country
            .fix-scroll-height
              %table
                - @search.facet(:country_ids).rows.each do |row|
                  - country, count = row.instance, row.count
                  - params_with_facet = params.merge(:country_id => country.id)
                  %tr
                    %td
                      = link_to country.name, params_with_facet
                      == (#{row.count})


  %table.table
    %tr
      = sortable :identifier, 'ID'
      = sortable :title
      = sortable :collector_name, 'Collector'
      = sortable :language, 'Language as given'
      %th Countries
      = sortable :modification_date
      %th Actions

      - @search.each_hit_with_result do |hit, item|
        %tr
          %td= item.full_identifier
          %td= item.title
          %td= item.collector.name
          %td= item.language
          %td
            - item.countries.each do |country|
              = country.name
          %td= item.updated_at.to_date
          %td
            = link_to 'View', item
            = link_to 'Edit', edit_item_path(item) if can? :update, item

  = paginate @search

  %p
    %button.per_page{:data => {:per => 10}} Show 10
    %button.per_page{:data => {:per => 50}} Show 50
    %button.per_page{:data => {:per => 100}} Show 100
