%h1 Items


.page-box
  = form_tag search_items_path, :method => :get, :class => 'no-empty-submit' do |f|
    .left
      - if params[:per_page]
        = hidden_field_tag :per_page, params[:per_page]
      = text_field_tag :search, params[:search], {:placeholder => "Please enter search terms to filter items"}
      = submit_tag 'Search', :name => nil
      = submit_tag 'Clear', :name => :clear

    .right
      = link_to 'Advanced Search', advanced_search_items_path if can? :advanced_search, Item

    .clear

    %p== #{@search.total} search results

  #facets
    %table
      %tr
        %td
          %fieldset
            %legend Content Languages
            .fix-scroll-height
              %table
                - @search.facet(:content_language_ids).rows.reject{|r| r.instance.nil?}.sort {|a,b| a.instance.name <=> b.instance.name }.each do |row|
                  - language = row.instance
                  - params_with_facet = params.permit!.merge(:language_code => language.code)
                  %tr
                    %td
                      = link_to language.name, params_with_facet
                      == (#{row.count})
        %td
          %fieldset
            %legend Countries
            .fix-scroll-height
              %table
                - @search.facet(:country_ids).rows.reject{|r| r.instance.nil?}.sort {|a,b| a.instance.name <=> b.instance.name }.each do |row|
                  - country = row.instance
                  - params_with_facet = params.permit!.merge(:country_code => country.code)
                  %tr
                    %td
                      = link_to country.name, params_with_facet
                      == (#{row.count})
        %td
          %fieldset
            %legend Top 100 Collectors
            .fix-scroll-height
              %table
                - @search.facet(:collector_id).rows.reject{|r| r.instance.nil?}.sort {|a,b| a.instance.sortname <=> b.instance.sortname }.each do |row|
                  - collector = row.instance
                  - params_with_facet = params.permit!.merge(:collector_id => collector.id)
                  %tr
                    %td
                      = link_to collector.name, params_with_facet
                      == (#{row.count})

  = render partial: 'items/search_results', locals: {show_exclusions: false}

  %p
    = link_to 'Export CSV (visible results)', search_items_path(:format => :csv, :params => params) if can? :search_csv, Item
  %p
    = link_to 'Export CSV (all results)', search_items_path(:format => :csv, :params => params.merge(:per_page => 500, :page => 1, :export_all => true)) if can? :search_csv, Item
