%h1 Items


.page-box
  = form_tag search_items_path, :method => :get, :class => 'no-empty-submit' do |f|
    .left
      - if params[:per_page]
        = hidden_field_tag :per_page, params[:per_page]
      = text_field_tag :search, params[:search], {:placeholder => "Please enter search terms to filter items"}
      = submit_tag 'Search', :name => nil
      = link_to 'Clear', search_items_path, class: "button"

    .right
      = link_to 'Advanced Search', advanced_search_items_path if can? :advanced_search, Item

    .clear

    %p== #{@search.total_count} search results (#{@search.took} ms)

  #facets
    %table
      %tr
        %td
          %fieldset
            %legend Content Languages
            .fix-scroll-height
              %table
                - @search.aggs['content_languages']['buckets'].sort_by {|bucket| bucket['key'] }.each do |bucket|
                  - params_with_agg = @params.merge(:content_languages => bucket['key'])
                  %tr
                    %td
                      = link_to bucket['key'], params_with_agg
                      == (#{bucket['doc_count']})
        %td
          %fieldset
            %legend Countries
            .fix-scroll-height
              %table
                - @search.aggs['countries']['buckets'].sort_by { |bucket| bucket['key'] }.each do |bucket|
                  - params_with_agg = @params.merge(:countries => bucket['key'])
                  %tr
                    %td
                      = link_to bucket['key'], params_with_agg
                      == (#{bucket['doc_count']})
        %td
          %fieldset
            %legend Top 100 Collectors
            .fix-scroll-height
              %table
                - @search.aggs['collector_name']['buckets'].sort_by { |bucket| bucket['key'].split(' ').reverse.join(' ') }.each do |bucket|
                  - params_with_agg = @params.merge(:collector_name => bucket['key'])
                  %tr
                    %td
                      = link_to bucket['key'], params_with_agg
                      == (#{bucket['doc_count']})

  = render partial: 'items/search_results', locals: {show_exclusions: false}

  %p
    = link_to 'Export CSV (visible results)', search_items_path(:format => :csv, :params => @params) if can? :search_csv, Item
  %p
    = link_to 'Export CSV (all results)', search_items_path(:format => :csv, :params => @params.merge(:export_all => true)) if can? :search_csv, Item
