-if session[:search_from]
  .left
    =link_to 'Return To Results', last_search_items_path, :class => 'button'

.right
  = link_to 'Previous item', [@collection, @item.prev_item], :class => 'button' if @item.prev_item

  - if can? :update, @item
    = link_to 'Edit item', edit_collection_item_path(@collection, @item), :class => 'button'

  - if can? :update, @item
    = link_to 'Duplicate Item', "/collections/#{@collection.identifier}/items/new?id=#{@item.id}", :class => 'button'

  - if @item.next_item
    = link_to 'Next item', [@collection, @item.next_item], :class => 'button'
  - else
    = link_to 'Next item', [@collection, @item.next_item], :class => 'button invisible'

.clear{:style => "padding-top: 7px"}

.twoup-1
  %fieldset
    %legend Item details
    - if can? :manage, @item
      .right
        = check_box_tag :private, @item.private, @item.private, :disabled => true
        Private: Hide metadata from all users

    %table.form.show
      %tr
        %th Item ID
        %td
          .left
            %span= @item.full_identifier
          .right<
            = link_to '(Collection Details)', @item.collection

      %tr
        %th Title
        %td= @item.title

      %tr
        %th Description
        %td= h(@item.description).gsub(/\n/, '<br/>').html_safe

      %tr
        %th Origination date
        %td= @item.originated_on

      %tr
        %th Origination date free form
        %td= @item.originated_on_narrative

      %tr
        %th Archive link
        %td= @item.external ? 'Item not owned by Paradisec' : link_to(repository_item_url(@collection, @item))

      %tr
        %th URL
        %td= @item.url

      %tr
        %th Collector
        %td
          - if (can? :manage, @item) && @item.collector
            = link_to @item.collector_name, admin_user_path(@item.collector.id)
          - else
            = @item.collector_name

      %tr
        %th Countries
        %td
          - @item.countries.each do |country|
            = country.name_with_code
            %br

      %tr
        %th Language as given
        %td= @item.language

      %tr
        %th Subject language(s)
        %td
          - @item.subject_languages.each do |language|
            = language.name_with_code
            %br

      %tr
        %th Content language(s)
        %td
          - @item.content_languages.each do |language|
            = language.name_with_code
            %br

      %tr
        %th Dialect
        %td= @item.dialect

      %tr
        %th Region / village
        %td= @item.region

      %tr
        - if !@item.has_coordinates
          %th Map
          %td.missing No map data given - please add.
        - else
          %td.empty{:colspan => 2}
            .map{:data => {:south_limit => @item.south_limit, :north_limit => @item.north_limit, :west_limit => @item.west_limit, :east_limit => @item.east_limit, :static => true}}

      %tr
        %th Originating university
        %td= @item.university_name

      %tr
        %th Operator
        %td
          - if (can? :manage, @item) && @item.operator
            = link_to @item.operator_name, admin_user_path(@item.operator.id)
          - else
            = @item.operator_name

      %tr
        %th Data Categories
        %td
          - @item.data_categories.each do |category|
            = category.name
            %br

      %tr
        %th Discourse type
        %td= @item.discourse_type_name

      %tr
        %th Roles
        %td
          - @item.item_agents.each do |item_agent|
            == #{item_agent.user.name} : #{item_agent.agent_role.name}
            %br
      %tr
        %th Cite as
        %td= @item.citation.html_safe

.twoup-2

  %fieldset
    %legend= "Content Files (#{@num_files})"
    = render :partial => 'essences'

  %fieldset
    %legend Collection Information
    %table.form.show
      %tr
        %th Collection ID
        %td= link_to @item.collection.identifier, @item.collection

      %tr
        %th Collection title
        %td= @item.collection.title

      %tr
        %th Description
        %td= h(@item.collection.description).gsub(/\n/, '<br/>').html_safe

      %tr
        %th Countries
        %td
          - @item.collection.countries.each do |country|
            = country.name
            %br

      %tr
        %th Languages
        %td
          - @item.collection.languages.each do |language|
            = language.name
            %br
    - if can? :manage, @item
      %div.separated-message
        = form_tag inherit_details_collection_item_path(@collection, @item), method: :put do
          -inherit_message = 'This will populate the country, location, language, operator and access conditions from the collection.'
          = submit_tag 'Inherit Details from Collection', class: 'button', title: inherit_message, 'data-confirm' => "#{inherit_message}\n\nDo you want to continue?"
          = check_box_tag :override_existing
          = label_tag :override_existing, 'Override Existing Values?'

  - if can? :manage, @item
    %fieldset
      %legend Archive Information

      %table.form.show
        %tr
          %td.empty
          %td
            = check_box_tag :checked, @item.metadata_exportable, @item.metadata_exportable, :disabled => true
            Ready for metadata export
        %tr
          %td.empty
          %td
            = check_box_tag :checked, @item.born_digital, @item.born_digital, :disabled => true
            Born digital
        %tr
          %td.empty
          %td
            = check_box_tag :checked, @item.tapes_returned, @item.tapes_returned, :disabled => true
            Tapes returned to depositor
        %tr
          %th Original media
          %td= @item.original_media

        %tr
          %th Data received
          %td= @item.received_on

        %tr
          %th Date digitised
          %td= @item.digitised_on

        %tr
          %th Ingest notes
          %td= h(@item.ingest_notes).gsub(/\n/, '<br/>').html_safe

        %tr
          %th Metadata imported
          %td= @item.metadata_imported_on

        %tr
          %th Metadata exported
          %td= @item.metadata_exported_on

        %tr
          %th Tracking
          %td= @item.tracking

  - if can? :manage, @item
    %fieldset
      %legend Admin Information

      %table.form.show
        %tr
          %th Record created
          %td= @item.created_at
        %tr
          %th Record modified
          %td= @item.updated_at

        %tr
          %th Edit access
          %td
            - @item.admins.each do |admin|
              = admin.name
              %br

        %tr
          %th View/Download access
          %td
            - @item.users.each do |user|
              = user.name
              %br

        %tr
          %th Data access conditions
          %td= @item.access_condition_name

        %tr
          %th Data access narrative
          %td= h(@item.access_narrative).gsub(/\n/, '<br/>').html_safe

        %tr
          %th Comments
          %td= h(@item.admin_comment).gsub(/\n/, '<br/>').html_safe

        - if admin_user_signed_in?
          %tr
            %th CAT-PDSC file
            %td= link_to 'View item XML file', display_collection_item_path(@collection, @item)


  %fieldset
    %legend Comments

    = render :partial => 'comments/new', :locals => { :item => @item }
    = render :partial => 'comments/comments', :locals => {:comments => @item.comments.approved}

  - if can? :update, @item
    .right
      -if @item.essences.any?
        %p.delete-warning
          %strong This item contains content files. If you choose to delete it, they will be deleted too and this action can not be undone!
        = link_to 'Delete item and contents', collection_item_path(@collection, @item, delete_essences: true), :method => :delete,
          :class => 'button', :confirm => 'Do you really want to delete this item and all of its content files?'
      -else
        = link_to 'Delete item', collection_item_path(@collection, @item), :method => :delete, :class => 'button', :confirm => 'Do you really want to delete this item?'
      = link_to 'Edit item', edit_collection_item_path(@collection, @item), :class => 'button right', style: 'margin-left: 0.4rem;'

= render partial: 'terms/licence_footer', locals: {all_work: false}