%h1= @item.title

.twoup-1
  %fieldset
    %legend Item details

    %table.form.show
      %tr
        %th Item ID
        %td<
          = precede @item.full_identifier do
            .right<
              = surround '(', ')' do
                = link_to 'Collection Details', @item.collection

      - if user_signed_in?
        %tr
          %td.empty
          %td
            = check_box_tag :checked, @item.private, @item.private, :disabled => true
            Private

      %tr
        %th Archive link
        %td= link_to @item.url, @item.url

      %tr
        %th URL
        %td= @item.url

      %tr
        %th Collector
        %td= @item.collector_name

      %tr
        %th Originating university
        %td= @item.university_name

      %tr
        %th Operator
        -if @item.operator
          %td= @item.operator_name

      %tr
        %th Description
        %td= @item.description

      %tr
        %th Origination date
        %td= @item.originated_on

      %tr
        %th Countries
        %td
          - @item.countries.each do |country|
            = country.name
            %br

      %tr
        %th Language as given
        %td= @item.language

      %tr
        %th Subject language(s)
        %td
          - @item.subject_languages.each do |language|
            = language.name
            %br

      %tr
        %th Content language(s)
        %td
          - @item.content_languages.each do |language|
            = language.name
            %br
      %tr
        %th Dialect
        %td= @item.dialect

      %tr
        %th Region / village
        %td= @item.region

      %tr
        %th Latitude
        %td= @item.latitude

      %tr
        %th Longitude
        %td= @item.longitude

      %tr
        %th Zoom
        %td= @item.zoom

      %tr
        %td.empty{:colspan => 2}
          .map{:data => {:latitude => @item.latitude, :longitude => @item.longitude, :zoom => @item.zoom, :static => true}}

      %tr
        %th Dicsourse type
        %td= @item.discourse_type_name

      %tr
        %th Agents
        %td
          - @item.item_agents.each do |item_agent|
            == #{item_agent.user.name} : #{item_agent.agent_role.name}
            %br
      %tr
        %th Cite as
        %td.citation= @item.citation


.twoup-2
  .tabs
    %ul
      %li.tab= link_to 'Content Files', '#content_item'
      %li.tab= link_to 'Collection Information', '#collection'

    #content_item
      #media [video here] This will initially hold a media element for the first essence, each essence will then have a play button in the first column which when clicked will reload this div with the media
      .small_table
        %table.table.scrollable_short
          %thead
            %tr
              %th Filename
              %th Type
              %th Bitrate
              %th Sampling rate/FPS
              %th Channels
              %th File size
              %th Duration
          %tbody
            - @item.essences.each do |essence|
              %tr
                %td= essence.filename
                %td= essence.mimetype
                %td= number_to_human_rate essence.bitrate
                %td
                  - if essence.samplerate
                    == #{essence.samplerate} Hz 
                  - if essence.fps
                    == / #{essence.fps} FPS
                %td= number_to_human_channels essence.channels
                %td= number_to_human_size essence.size
                %td= number_to_human_duration essence.duration


    #collection
      %table.form.show
        %tr
          %th Collection title
          %td= @item.collection.title

        %tr
          %th Collection ID
          %td= @item.collection.identifier

        %tr
          %th Description
          %td= @item.collection.description

        %tr
          %th Countries
          %td
            - @item.collection.countries.each do |country|
              = country.name
              %br

        %tr
          %th Languages
          %td
            - @item.collection.languages.each do |language|
              = language.name
              %br

        %tr
          %th Latitude
          %td= @item.collection.latitude

        %tr
          %th Longitude
          %td= @item.collection.longitude

        %tr
          %th Zoom
          %td= @item.collection.zoom

        %tr
          %td{:colspan => 2}
            .map{:data => {:latitude => @item.collection.latitude, :longitude => @item.collection.longitude, :zoom => @item.collection.zoom, :static => true}}


  .tabs
    %ul
      %li.tab= link_to 'Comments', '#comment'
      - if can? :manage, @item
        %li.tab= link_to 'Archive information', '#archive'
        %li.tab= link_to 'Admin information', '#admin'

    #comment
      = render_comments_form @item
      = render_comments @item

    - if can? :manage, @item
      #archive
        %table.form.show
          %tr
            %th Ready for metadata export
            %td= check_box_tag :checked, @item.metadata_exportable, @item.metadata_exportable, :disabled => true
          %tr
            %th Born digital
            %td= check_box_tag :checked, @item.born_digital, @item.born_digital, :disabled => true

          %tr
            %th Tapes returned to depositor
            %td= check_box_tag :checked, @item.tapes_returned, @item.tapes_returned, :disabled => true

          %tr
            %th Original media
            %td= @item.original_media

          %tr
            %th Data received
            %td= @item.received_on

          %tr
            %th Date digitised
            %td= @item.digitised_on

          %tr
            %th Ingest notes
            %td= @item.ingest_notes

          %tr
            %th Metadata imported
            %td= @item.metadata_imported_on

          %tr
            %th Metadata exported
            %td= @item.metadata_exported_on

          %tr
            %th Tracking
            %td= @item.tracking

    - if can? :manage, @item
      #admin
        %table.form.show
          %tr
            %th Record created
            %td= @item.created_at.to_date
          %tr
            %th Record modified
            %td= @item.updated_at.to_date

          %tr
            %th User access
            %td
              - @item.admins.each do |admin|
                = admin.name
                %br

          %tr
            %th Access conditions
            %td= @item.access_condition_name

          %tr
            %th Access narrative
            %td= @item.access_narrative


- if can? :update, @item
  %button
    = link_to 'Edit item', edit_item_path(@item) 
