%h1 Item

.twoup-1
  %fieldset
    %legend Item Details

    %table.form
      %tr
        %td Item ID
        %td
          = @item.full_identifier
          (
          = link_to 'Collection Details', @item.collection
          )

      %tr
        %td= check_box_tag :checked, @item.private, @item.private, :disabled => true
        %td Private

      %tr
        %td Archive Link
        %td= link_to @item.url, @item.url

      %tr
        %td Item Title
        %td= @item.title

      %tr
        %td URL
        %td= @item.url

      %tr
        %td Collector
        %td= @item.collector.name

      %tr
        %td Originating University
        %td= @item.university.name

      %tr
        %td Operator
        %td= @item.operator.name

      %tr
        %td Description
        %td= @item.description

      %tr
        %td Origination Date
        %td= @item.originated_on

      %tr
        %td Countries
        %td
          - @item.countries.each do |country|
            = country.name
            %br

      %tr
        %td Language as given
        %td= @item.language

      %tr
        %td Subject Language
        %td= @item.subject_language.name

      %tr
        %td Content Language
        %td= @item.content_language.name

      %tr
        %td Dialect
        %td= @item.dialect

      %tr
        %td Region / Village
        %td= @item.region

      %tr
        %td Latitude
        %td= @item.latitude

      %tr
        %td Longitude
        %td= @item.longitude

      %tr
        %td Zoom
        %td= @item.zoom

      %tr
        %td{:colspan => 2}
          .map{:data => {:latitude => @item.latitude, :longitude => @item.longitude, :zoom => @item.zoom, :static => true}, :style => "width: 100%; height: 200px"}

      %tr
        %td Dicsourse Type
        %td= @item.discourse_type.name

      %tr
        %td Agents
        %td
          - @item.item_agents.each do |item_agent|
            == #{item_agent.user.name} : #{item_agent.agent_role.name}
            %br
      %tr
        %td Cite as
        %td= @item.citation


.twoup-2
  .tabs
    %ul
      %li= link_to 'Content Item', '#content_item'
      %li= link_to 'Collection Information', '#collection'

    #content_item
      #media This will initially hold a media element for the first essence, each essence will then have a play button in the first column which when clicked will reload this div with the media
      %table.table
        %tr
          %th Filename
          %th Type
          %th Bitrate
          %th Sampling Rate/FPS
          %th Channels
          %th File Size
          %th Duration
        - @item.essences.each do |essence|
          %tr
            %td= essence.filename
            %td= essence.mimetype
            %td= number_to_human_rate essence.bitrate
            %td
              - if essence.samplerate
                == #{essence.samplerate} Hz 
              - if essence.fps
                == / #{essence.fps} FPS
            %td= number_to_human_channels essence.channels
            %td= number_to_human_size essence.size
            %td= number_to_human_duration essence.duration


    #collection
      =link_to 'Open Collection', @item.collection
      %table.form
        %tr
          %td Collection Title
          %td= @item.collection.title

        %tr
          %td Collection ID
          %td= @item.collection.identifier

        %tr
          %td Description
          %td= @item.collection.description

        %tr
          %td Countries
          %td
            - @item.collection.countries.each do |country|
              = country.name
              %br

        %tr
          %td Languages
          %td
            - @item.collection.languages.each do |language|
              = language.name
              %br

        %tr
          %td Latitude
          %td= @item.collection.latitude

        %tr
          %td Longitude
          %td= @item.collection.longitude

        %tr
          %td Zoom
          %td= @item.collection.zoom

        %tr
          %td{:colspan => 2}
            .map{:data => {:latitude => @item.collection.latitude, :longitude => @item.collection.longitude, :zoom => @item.collection.zoom, :static => true}, :style => "width: 100%; height: 200px"}


  .tabs
    %ul
      %li= link_to 'Comments', '#comment'
      - if can? :manage, @item
        %li= link_to 'Archive Information', '#archive'
        %li= link_to 'Admin Information', '#admin'

    #comment
      %p Comments go here

    - if can? :manage, @item
      #archive
        %p Archive info goes here

    - if can? :manage, @item
      #admin
        %table.form
          %tr
            %td Record Created
            %td= @item.created_at.to_date
          %tr
            %td Record Modified
            %td= @item.updated_at.to_date

          %tr
            %td User Access
            %td
              - @item.admins.each do |admin|
                = admin.name
                %br
          %tr
            %td Access conditions
            %td= @item.access_condition.name

          %tr
            %td Access Narative
            %td= @item.access_narrative



= link_to 'Edit Item', edit_item_path(@item) if can? :update, @item
