- content_for :canonical do
  %link{:rel => 'canonical', :href => collection_item_essence_url(@collection, @item, @essence)}

.right
  = link_to 'Previous file', [@collection, @item, @essence.prev_essence], :class => 'button' if @essence.prev_essence
  - if @essence.next_essence
    = link_to 'Next file', [@collection, @item, @essence.next_essence], :class => 'button'
  -else
    = link_to 'Next file', [@collection, @item, @essence.next_essence], :class => 'button invisible'

.clear{:style => "padding-top: 7px"}

.twoup-1.column.span-12
  %fieldset
    %legend File details

    %table.form.show
      %tr
        %th File
        %td
          .left
            %span= @essence.full_identifier
          .right<
            = link_to '(Item Details)', [@collection, @item]

      %tr
        %th Archive link
        %td= link_to(repository_essence_url(@collection, @item, @essence.filename))

      %tr
        %th Path
        %td= @essence.path

      %tr
        %th Type
        %td= @essence.mimetype

      %tr
        %th Size
        %td= number_to_human_size @essence.size

      %tr
        %th Duration
        %td= number_to_human_duration @essence.duration

      %tr
        %th Samplerate
        %td
          - if @essence.samplerate
            == #{@essence.samplerate} Hz

      %tr
        %th Number of channels
        %td= number_to_human_channels @essence.channels

      %tr
        %th Framerate
        %td
          - if @essence.fps
            == #{@essence.fps} FPS

      %tr
        %th Bitrate
        %td
          - if @essence.bitrate
            == #{@essence.bitrate} bps
      %tr
        %th Cite as
        %td= @essence.citation

      %tr
        %td.empty
        %td.empty
          - if can? :download, @essence
            = link_to 'Download', download_collection_item_essence_path(@collection, @item, @essence), download: true
          - else
            %p No access rights to download essence.
            %p
              To request access, contact
              =link_to 'admin@paradisec.org.au', 'mailto:admin@paradisec.org.au'

.twoup-2.column.span-12.last
  %fieldset
    %legend Preview
    #media_item
      - if can? :display, @essence
        - case @essence.mimetype
        - when /^image\/(jpeg|png|gif|tiff|bmp)/
          = image_tag display_collection_item_essence_path(@collection, @item, @essence)
        - when /^audio\/(mpeg|ogg|(x-)?wav)/
          = audio_tag display_collection_item_essence_path(@collection, @item, @essence), controls: true, type: @essence.mimetype
        - when /^video\/(mp4|mpeg|webm|ogg)/
          = video_tag display_collection_item_essence_path(@collection, @item, @essence), :controls => true
        - else
          %i Can't display file preview - unknown file format.
      - else
        %p No access rights to preview essence.
        %p
          To request access, contact
          =link_to 'admin@paradisec.org.au', 'mailto:admin@paradisec.org.au'

  - if admin_user_signed_in?
    .right
      = link_to 'Delete essence', collection_item_essence_path(@collection, @item, @essence), :data => { :turbo => true, :turbo_method => :delete, :turbo_confirm => 'Do you really want to delete this file and its metadata from the archive (no undo possible)?' }, :class => 'button'

= render partial: 'terms/licence_footer', locals: {all_work: false}
