- content_for :page_scripts do
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js'
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.timeline.min.js'


:css
  #audio_controls {
    text-align: center;
  }
  #audio-controls a {
    height: 15px;
    width: 15px;
    line-height: 15px;
  }

.right
  = link_to 'Previous file', [@collection, @item, @essence.prev_essence], :class => 'button' if @essence.prev_essence
  - if @essence.next_essence
    = link_to 'Next file', [@collection, @item, @essence.next_essence], :class => 'button'
  -else
    = link_to 'Next file', [@collection, @item, @essence.next_essence], :class => 'button invisible'

.clear{:style => "padding-top: 7px"}

.twoup-1
  %fieldset
    %legend File details

    %table.form.show
      %tr
        %th File
        %td
          .left
            %span= @essence.full_identifier
          .right<
            = link_to '(Item Details)', [@collection, @item]

      %tr
        %th Archive link
        %td= link_to(repository_essence_url(@collection, @item, @essence.filename))

      %tr
        %th Path
        %td= @essence.path

      %tr
        %th Type
        %td= @essence.mimetype

      %tr
        %th Size
        %td= number_to_human_size @essence.size

      %tr
        %th Duration
        %td= number_to_human_duration @essence.duration

      %tr
        %th Samplerate
        %td
          - if @essence.samplerate
            == #{@essence.samplerate} Hz 

      %tr
        %th Number of channels
        %td= number_to_human_channels @essence.channels

      %tr
        %th Framerate
        %td
          - if @essence.fps
            == #{@essence.fps} FPS

      %tr
        %th Bitrate
        %td
          - if @essence.bitrate
            == #{@essence.bitrate} bps
      %tr
        %th Cite as
        %td= @essence.citation

      %tr
        %td.empty
        %td.empty
          - if can? :download, @essence
            = link_to 'Download', download_collection_item_essence_path(@collection, @item, @essence)
          - else
            %p No access rights to download essence.
            %p
              To request access, contact
              =link_to 'admin@paradisec.org.au', 'mailto:admin@paradisec.org.au'

.twoup-2
  %fieldset
    %legend Preview
    #media_item
      - if can? :display, @essence
        - case @essence.mimetype
        - when /^image\/(jpeg|png|gif|tiff|bmp)/
          = image_tag display_collection_item_essence_path(@collection, @item, @essence)
        - when /^audio\/(mpeg|ogg|(x-)?wav)/
          #waveform
            %p Loading...
          #audio_controls
            %span#current_time.left 00:00:00
            %a.skip.back-2x{title: 'Back 30 seconds', data: {skip: -30}}
              %i.glyphicon.glyphicon-fast-backward
            %a.skip.back{title: 'Back 5 seconds', data: {skip: -5}}
              %i.glyphicon.glyphicon-step-backward
            %a.play-pause
              %i.glyphicon.glyphicon-play
            %a.skip.forward{title: 'Forward 5 seconds', data: {skip: 5}}
              %i.glyphicon.glyphicon-step-forward
            %a.skip.forward-2x{title: 'Forward 30 seconds', data: {skip: 30}}
              %i.glyphicon.glyphicon-fast-forward
            %span#duration.right 00:00:00

          :javascript
            var wavesurfer = WaveSurfer.create({
                container: '#waveform'
            });
            var toTimeString = function (seconds) {
                var hours   = Math.floor(seconds / 3600);
                var minutes = Math.floor((seconds - (hours * 3600)) / 60);
                var seconds_part = Math.floor(seconds - (hours * 3600) - (minutes * 60));

                if (hours   < 10) {hours   = "0"+hours;}
                if (minutes < 10) {minutes = "0"+minutes;}
                if (seconds_part < 10) {seconds_part = "0"+seconds_part;}
                return hours+':'+minutes+':'+seconds_part;
            }
            wavesurfer.load('#{display_collection_item_essence_path(@collection, @item, @essence)}');
            wavesurfer.on('ready', function() {
              $('#waveform').find('p').remove();
              $('#duration').text(toTimeString(wavesurfer.getDuration()));
            });
            wavesurfer.on('audioprocess', function() {
              $('#current_time').text(toTimeString(wavesurfer.getCurrentTime()));
            });
            var controls = $('#audio_controls');
            controls.find('.skip').click(function() {wavesurfer.skip($(this).data('skip'));})
            controls.find('.play-pause').click(function() {
              $(this).find('i').toggleClass('glyphicon-play glyphicon-pause');
              wavesurfer.playPause();
            });

        - when /^video\/(mp4|mpeg|webm|ogg)/
          = video_tag display_collection_item_essence_path(@collection, @item, @essence), :controls => true
        - else
          %i Can't display file preview - unknown file format.
      - else
        %p No access rights to preview essence.
        %p
          To request access, contact
          =link_to 'admin@paradisec.org.au', 'mailto:admin@paradisec.org.au'

  - if admin_user_signed_in?
    .right
      = link_to 'Delete essence', collection_item_essence_path(@collection, @item, @essence), :method => :delete, :class => 'button', :confirm => 'Do you really want to delete this file and its metadata from the archive (no undo possible)?'

= render partial: 'terms/licence_footer', locals: {all_work: false}