
%h1 Conditions of Access

-if @essence.item.access_condition.name == 'Open (subject to agreeing to PDSC access conditions)'

  .page-box.terms-and-conditions
    = render 'terms/conditions_of_access'

-elsif @essence.item.access_condition.name == 'Open (subject to the access condition details)'
  .page-box
    %p
      = @essence.item.access_narrative

= form_tag agree_to_terms_collection_item_essence_path, :method => :get, :class => 'no-empty-submit' do
  .page-box
    %p
      = check_box_tag :agree
      By clicking here I agree that I will not contravene this licence.

  = submit_tag 'Submit'
