%div{:id => "comment_#{comment.id}"}
  %p.comment_body
    = comment.body
    - if can? :destroy, comment
      %button
        = link_to 'Delete', comment_path(comment), :method => :delete, :remote => true
  %p.comment_who
    = 'by '
    - if can? :manage, comment.owner
      = link_to comment.owner.name, comment.owner
    - else
      = comment.owner.name
    == - #{comment.created_at.strftime("on %d/%m/%Y at %I:%M %p")}
  %hr
