#new_comment
  - if send(Opinio.current_user_method)
    %h4 Leave a comment
    = form_for Comment.new, :remote => true do |f|
      %table.form
        %tr
          %th= f.label :body, "Comment"
          %td
            = f.text_area :body, :rows => 5
            = hidden_field_tag :commentable_id, commentable.id
            = hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s
            = f.submit "Save"
  - else
    %p Must be logged in to comment.
  %hr
