<h2>Depositors Downloads Report</h2>

<p><b>Date From: <%= @date_from.strftime('%e %b %Y') %></b></p>
<p><b>Date To: <%= @date_to.strftime('%e %b %Y') %></b></p>

<table>
  <tbody><tr>
    <th>Downloaded At</th>
    <th>Country</th>
    <th>Collection Title</th>
    <th>Item Title</th>
    <th>File Name</th>
  </tr>
  <% @results.each do |result| %>
    <tr>
      <td><%= result["created_at"].strftime('%e %b %Y') %></td>
      <td><%= result["country"] %></td>
      <td><%= result["collection_title"] %></td>
      <td><%= result["item_title"] %></td>
      <td><%= result["filename"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
