!!! html5
%html
%head
  %title Nabu
  = stylesheet_link_tag :screen, :media => 'screen, projection'
  = stylesheet_link_tag :print,  :media => 'print'
  /[if lt IE 8]
    = stylesheet_link_tag :ie, :media => 'screen, projection'

  = javascript_include_tag :application
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'

  = csrf_meta_tags

%body.bp

  #container
    #header
      .logo= image_tag 'paradisec.jpg', :height => 100
      .name PARADISEC Catalog
      .auth
        .inner
          - if user_signed_in?
            = link_to current_user.name, current_user
            |
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
          - else
            = link_to 'Sign up', new_user_registration_path
            |
            = link_to 'Sign in', new_user_session_path

    #nav
      #menu
        %ul
          %li.active= link_to 'Home', root_path
          %li= link_to 'Browse collections', collections_path
          %li= link_to 'Browse items', items_path
          %li= link_to 'Browse users', users_path if can? :manage, User
          %li= link_to 'Search', search_path
          %li= link_to 'Help', '#'

    #flash
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          %div{:class => name}= msg

    #content
      = yield

    #footer
      %center
        = link_to 'About', about_path
        |
        = link_to 'Contact', contact_path
        - if admin_user_signed_in?
          |
          = link_to 'Settings', admin_dashboard_path


