!!! html5
%html
  %head
    :javascript
      var _rollbarParams = {"server.environment": "production"};
      _rollbarParams["notifier.snippet_version"] = "2"; var _rollbar=["deef9189a000432aa3eb00b91b2842b9", _rollbarParams]; var _ratchet=_rollbar;
      (function(w,d){w.onerror=function(e,u,l){_rollbar.push({_t:'uncaught',e:e,u:u,l:l});};var i=function(){var s=d.createElement("script");var
      f=d.getElementsByTagName("script")[0];s.src="//d37gvrvc0wt4s1.cloudfront.net/js/1/rollbar.min.js";s.async=!0;
      f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener("load",i,!1);}else{w.attachEvent("onload",i);}})(window,document);

    = raw analytical.head_prepend_javascript
    %title= @page_title || 'Nabu'
    = favicon_link_tag
    = stylesheet_link_tag :screen, :media => 'screen, projection'
    = stylesheet_link_tag :print,  :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag :ie, :media => 'screen, projection'

    = javascript_include_tag :application
    = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'

    = csrf_meta_tags
    - analytical.identify(current_user.id, :email => current_user.email) if current_user
    = raw analytical.head_append_javascript

  %body.bp
    = raw analytical.body_prepend_javascript

    #container
      #header
        .logo= link_to image_tag('paradisec.jpg', :height => 100), 'http://paradisec.org.au'
        .name PARADISEC Catalog
        .auth
          .inner
            - if user_signed_in?
              = link_to current_user.name, current_user
              |
              = link_to 'Sign out', destroy_user_session_path, :method => :delete
            - else
              = link_to 'Sign up', new_user_registration_path
              |
              = link_to 'Sign in', new_user_session_path

      #nav
        %ul{:id => 'menu', :role => 'navigation'}
          %li= current_link_to 'Home', root_path, 'page#home'
          - if user_signed_in?
            %li= current_link_to 'Dashboard', dashboard_path, 'page#dashboard'
          %li= current_link_to 'Collections', search_collections_path, 'collections'
          %li= current_link_to 'Items', search_items_path, 'items'
          %li= current_link_to 'Contact', contact_path, 'page#contact'

      - admin_messages_class = "admin-messages-empty" if admin_messages.empty?
      #admin-messages{:class => admin_messages_class}
        - admin_messages.each do |admin_message|
          %div= admin_message.message

      #flash
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{:class => name}= raw(msg)

      #content
        = yield

      #footer
        %center
          = link_to 'Glossary', glossary_path
          |
          = link_to 'APIs', apidoc_path
          - if admin_user_signed_in?
            |
            = link_to 'Admin', admin_dashboard_path

    = raw analytical.body_append_javascript
