!!! html5
%html{ 'data-turbo' => 'false' }
  %head
    - if Rails.env.production?
      = javascript_include_tag 'https://www.googletagmanager.com/gtag/js?id=UA-36256674-1', :async => true
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-36256674-1');

    :javascript
      const calendarImagePath = "#{asset_path('calendar.png')}";

    %title= @page_title || 'Nabu'
    %meta{ :name => 'viewport', :content => 'width=device-width,initial-scale=1' }
    %meta{ :name => 'turbo-visit-control', :content => 'reload' }

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags

    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAtxUAk_CHTIHR_to5xDCA2kG5YzkVcl4E'

    = yield :page_scripts

  %body.bp
    #container.container
      #header.column.span-24.last
        .logo.column.span-4= link_to image_tag('paradisec.jpg', :height => 100), 'http://paradisec.org.au'
        .name.column.span-12 PARADISEC Catalog
        .auth.column.span-8.last
          .inner
            - if user_signed_in?
              = link_to current_user.name, current_user
              |
              = link_to 'Sign out', destroy_user_session_path, :data => { :turbo_method => :delete }
            - else
              = link_to 'Sign up', new_user_registration_path
              |
              = link_to 'Sign in', new_user_session_path

      #nav.column.span-24
        %ul{:id => 'menu', :role => 'navigation'}
          %li= current_link_to 'Home', root_path, 'page#home'
          - if user_signed_in?
            %li= current_link_to 'Dashboard', dashboard_path, 'page#dashboard'
          %li= current_link_to 'Collections', search_collections_path, 'collections'
          %li= current_link_to 'Items', search_items_path, 'items'
          %li= current_link_to 'Contact', contact_path, 'page#contact'

      - admin_messages_class = "admin-messages-empty" if admin_messages.empty?
      #admin-messages.column.span-24{:class => admin_messages_class}
        - admin_messages.each do |admin_message|
          %div= admin_message.message

      #flash.column.span-24
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{:class => name}= raw(msg)

      #content.column.span-24
        = yield

      #footer.column.span-24
        %center
          = link_to 'Glossary', glossary_path
          |
          = link_to 'APIs', apidoc_path
          - if admin_user_signed_in?
            |
            = link_to 'Admin', admin_dashboard_path
